<!DOCTYPE html>
<html
    lang="en"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:th="http://www.thymeleaf.org"
    xmlns="http://www.thymeleaf.org"
>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>MK10</title>
        <!-- CSS -->
        <link
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="/css/bootstrap.css" />
        <link rel="stylesheet" href="/css/layout.css" />
        <link rel="stylesheet" href="/css/swiper-bundle.min.css" />

        <!-- JS -->
        <script type="text/javascript" src="/js/jquery-3.6.4.min.js"></script>
        <script src="/js/bootstrap.bundle.min.js"></script>
        <script src="/js/swiper-bundle.min.js"></script>
    </head>
    <body>
        <header
            class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom myHeader"
        >
            <div class="col-md-3 mb-2 mb-md-0">
                <a
                    href="/"
                    class="d-inline-flex link-body-emphasis text-decoration-none"
                >
                    <svg
                        class="bi"
                        width="40"
                        height="32"
                        role="img"
                        aria-label="Bootstrap"
                    >
                        <use xlink:href="#bootstrap"></use>
                    </svg>
                </a>
            </div>

            <ul
                class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0"
            >
                <li>
                    <a href="#" class="nav-link px-2 link-secondary">Home</a>
                </li>
            </ul>

            <div class="col-md-3 text-end">
                <button type="button" class="btn btn-outline-primary me-2">
                    Login
                </button>
                <button type="button" class="btn btn-primary">Sign-up</button>
            </div>
        </header>

        <main id="main">
            <div layout:fragment="contents"></div>
        </main>

        <!-- <script>
            const header = document.querySelector(".myHeader");

            window.addEventListener("scroll", function (e) {
                console.log(window.scrollY);
                if (window.scrollY > 0) {
                    myHeader.classList.add("on");
                } else {
                    myHeader.classList.remove("on");
                }
            });
        </script> -->
    </body>
</html>
