a<!DOCTYPE html>
<html
    lang="en"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:th="http://www.thymeleaf.org"
    xmlns="http://www.thymeleaf.org"
>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>MK10</title>
        <!-- favicon -->

        <link rel="shortcut icon" href="/images/favicon/favicon.ico" type="image/x-icon" />
        <!-- CSS -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
        <link rel="stylesheet" href="/css/bootstrap.css" />
        <link rel="stylesheet" href="/css/layout.css" />
        <link rel="stylesheet" href="/css/swiper-bundle.min.css" />
        <!-- JS -->
        <script type="text/javascript" src="/js/jquery-3.6.4.min.js"></script>
        <script src="/js/bootstrap.bundle.min.js"></script>
        <script src="/js/swiper-bundle.min.js"></script>
        <script src="/js/gsap/gsap.min.js"></script>

        <!-- font -->
    </head>
    <body>
        <header
            class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom myHeader"
        >
            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li>
                    <a href="/" class="nav-link px-2 link-secondary">Home</a>
                </li>
            </ul>

            <div class="col-md-3 text-end" th:if="${session.board == null}">
                <a href="/login" class="btn btn-outline-primary me-2"> Login </a>
                <a href="/signup" class="btn btn-primary">Sign-up</a>
            </div>

            <div class="col-md-3 text-end" th:unless="${session.board == null}">
                <!-- <div class="col-md-3 text-end" th:if="${session.board.nickName} == manager and ${session.board.userId} == manager"> -->
                <a href="/info" class="btnInfo">
                    <span th:text="${session.board.nickName}">nickName</span>
                </a>
                <a href="/logout">로그아웃</a>
                <a href="/insert" th:if="${session.board.nickName.equals('manager')}">이미지 관리</a>
            </div>
        </header>
        <main id="main">
            <div layout:fragment="contents"></div>
        </main>

        <!-- 이미지 클릭한 다음 나오는 모달 -->
        <div class="modal fade" id="imgModal" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">클릭한 이미지 제목</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-4" id="modal-image"></div>
                                <div class="col-md-4 ms-auto">
                                    <p>클릭한 이미지 어디까지 되는지 테스트 해보는중</p>
                                    <a href="/gen">generator 링크</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" tabindex="-1" id="memoModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" th:text="${title}">Modal title</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p th:text="${msg}">Modal body text goes here.</p>
                    </div>
                    <div class="modal-footer text-center">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" tabindex="-1" id="deleteModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">삭제하시겠습니까?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="password" class="form-label">PASSWORD</label>
                            <input
                                type="password"
                                class="form-control"
                                id="password"
                                placeholder="password"
                                name="password"
                            />
                        </div>
                    </div>
                    <div class="modal-footer text-center">
                        <button type="button" class="btn btn-primary" id="btnDeleteConfirm" data-bs-dismiss="modal">
                            CONFIRM
                        </button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CLOSE</button>
                    </div>
                </div>
            </div>
        </div>
        <script th:inline="javascript">
                  /*<![CDATA[*/
                    const msg = /*[[${msg}]]*/;
                    const title = /*[[${msg}]]*/;
                    const param = /*[[${param}]]*/;
                    const no = /*[[${param.no}]]*/;
                    const session = /*[[${session}]]*/;


                    const memoModal = new bootstrap.Modal("#memoModal");
                    const deleteModal = new bootstrap.Modal("#deleteModal");
                    const imgModal = new bootstrap.Modal("#imgModal")

                    $(document).on('click','#clickedImg',function(e){

                      var src = $(this).find("img").attr("src");
                      $('#modal-image').html(`<img src="`+src+`" alt="" />`)

                      e.preventDefault();
                      console.log("이미지 클릭중===============")
                      imgModal.show();
                     });


                    // $("#clickedImg").on("click",function(e){
                    //   e.preventDefault();
                    //   console.log("이미지 클릭중===============")
                    //   imgModal.show();
                    // });

                    if(msg){
                      memoModal.show();
                    }
                    $("#btnDeleteAjax").on("click",function(e){

                      //e.preventDefault();
                      deleteModal.show();
                      return false;
                    });


                    $("#btnDeleteConfirm").on("click",function(e){
                      $.ajax({
                        url:"/board/deleteAjaxProcess",
                        data:{"no":no,"password":$("#password").val()},
                        type:"POST",
                        success:function(response){
                          console.log(response);
                          if(response.msg==="ok") {
                            setTimeout(function(){
                              location.href="/board/list";
                            },500)
                          } else {
                            location.reload();
                          }
                        },
                      })
                    });

                   // $(".btnInfo").on("click",function(){
                   //   console.log("uuuu");
                   //   deleteModal.show();
                   //   const pw = session.board.userPw;
                   //   console.log(pw);
                   //   $("#deleteModal .modal-title").text("비밀번호를 입력해 주세요.");
                   //   $("#btnDeleteConfirm").on("click",function(e){
                   //     if($("#password").val()==pw){
            //
                   //       location.href="/info";
                   //     } else {
                   //       history.back();
                   //     }
                   //   })
                   // });



                    $(document).ready(function(){
                      $(".nickName_confirm").on("focusout",function(){
                        var id=$("#nickName").val();

                        if(id==''||id.length==0){
                          $('#nickName_div').html('<a">닉네임을 입력해 주세요.</a>:')

                          return false;
                        }

                        $.ajax({
                          url : "/nickNameCheck" ,
                              type : "post",
                              dataType : "json",
                              data : {"nickName" : $("#nickName").val()},
                              success : function(data){
                                      if(data == 0){
                                        $('#nickName_div').html('<a">사용가능한 닉네임입니다.</a>:')
                                      }else{

                                        $('#nickName_div').html('<a">이미 사용중인 닉네임입니다.</a>:')
                                    }
                                  }
                        })
                      })
                      $(".nickName_modify").on("focusout",function(){
                        var id=$("#nickName").val();

                        if(id==''||id.length==0){
                          $('#nickName_div').html('<a">닉네임을 입력해 주세요.</a>:')

                          return false;
                        }

                        $.ajax({
                          url : "/nickNameCheck" ,
                              type : "post",
                              dataType : "json",
                              data : {"nickName" : $("#nickName").val()},
                              success : function(data){
                                      if(data == 0 ){
                                        $('#nickName_div').html('<a">사용가능한 닉네임입니다.</a>:')
                                      }else if(id == session.board.nickName){
                                        console.log(session.board.nickName)

                                        $('#nickName_div').html('<a">기존 사용하고 있는 닉네임입니다.</a>:')
                                    }
                                      else{
                                        console.log(session.board.nickName)

                                        $('#nickName_div').html('<a">이미 사용중인 닉네임입니다.</a>:')
                                    }
                                  }
                        })
                      })




                      $(".id_confirm").on("focusout",function(){
                        var id=$("#userId").val();

                        if(id==''||id.length==0){
                          $('#id_div').html('<a">아이디를 입력해 주세요.</a>:')
                          return false;
                        }
                        if(id.length<5){
                          $('#id_div').html('<a">아이디를 5글자 이상 입력해 주세요.</a>:')

                          return false;
                        }
                        $.ajax({
                          url : "/idCheck",
                              type : "post",
                              dataType : "json",
                              data : {"userId" : $("#userId").val()},
                              success : function(data){
                                      if(data == 0 ){
                                        $('#id_div').html('<a">사용가능한 ID입니다.</a>:')
                                      }else{
                                        $('#id_div').html('<a">이미 사용중이거나 탈퇴한 ID입니다.</a>:')
                                    }
                                  }
                        })
                      })




                      $(".id_modify").on("focusout",function(){
                        var id=$("#userId").val();

                        if(id==''||id.length==0){
                          $('#id_div').html('<a">아이디를 입력해 주세요.</a>:')
                          return false;
                        }
                        if(id.length<5){
                          $('#id_div').html('<a">아이디를 5글자 이상 입력해 주세요.</a>:')

                          return false;
                        }
                        $.ajax({
                          url : "/idCheck",
                              type : "post",
                              dataType : "json",
                              data : {"userId" : $("#userId").val()},
                              success : function(data){
                                      if(data == 0 ){
                                        $('#id_div').html('<a">사용가능한 ID입니다.</a>:')
                                        console.log(session.board.userId)
                                        console.log(id)

                                      }else if(id == session.board.userId){
                                        console.log(session.board.userId)

                                        $('#id_div').html('<a">기존 사용하고 있는 아이디입니다.</a>:')
                                    }else{
                                        $('#id_div').html('<a">이미 사용중이거나 탈퇴한 ID입니다.</a>:')
                                    }
                                  }
                        })
                      })



                      $(".userPw_confirm").on("focusout",function(){
                        var pwchk=$("#userPwCheck").val();
                        var id=$("#userPw").val();


                        if(id!= pwchk){
                          $('#userPwCheck_div').html('<a" id="pwchk_diff">비밀번호가 일치하지 않습니다.</a>:')

                        }else{
                          $('#userPwCheck_div').html('<a" id="pwchk_diff">비밀번호가 일치합니다.</a>:')


                        }

                        if(id==''||id.length==0){
                          $('#userPw_div').html('<a" id="pw_null">비밀번호를 입력해 주세요.</a>:')
                          return false;
                        }else{
                          $('#userPw_div').html('<a" id="pw_null">비밀번호 입력이 완료되었습니다.</a>:')


                          return false
                        }


                      })

                      $(".userPwCheck_confirm").on("focusout",function(){
                        var pwchk=$("#userPwCheck").val();
                        var pw=$("#userPw").val();



                        if(pw!= pwchk){
                          $('#userPwCheck_div').html('<a" id="pwchk_diff">비밀번호가 일치하지 않습니다.</a>:')
                          return false

                        }else{
                          $('#userPwCheck_div').html('<a" id="pwchk_diff">비밀번호가 일치합니다.</a>:')


                        }
                          if(pwchk==''||pwchk.length==0){
                            $('#userPwCheck_div').html('<a" id="pwchk_null">비밀번호를 입력해 주세요.</a>:')
                          return false

                          }else{
                            $('#userPwCheck_div').html('<a" id="pwchk_null">비밀번호 입력이 완료되었습니다.</a>:')
                          return false


                          }




                      })

                      $(".email_confirm").on("focusout",function(){
                        var userEmail=$("#userEmail").val();

                        reg_email = /^[A-Za-z0-9_\.\-]+@[A-Za-z0-9\-]+\.[A-Za-z0-9\-]+/;

                        if(!reg_email.test(userEmail)) {
                          $('#email_div').html('<a" id="email_null">이메일 양식을 지켜서 입력해 주세요.</a>')
                        }else{
                            const element = document.getElementById("email_null");
                            element.remove(); // Removes the div with the 'div-02' id
                        }

                        if(userEmail==''||userEmail.length==0){
                          $('#email_div').html('<a" id="email_null">이메일을 입력해 주세요.</a>')
                        }else{
                          const element = document.getElementById("email_null");
                          element.remove(); // Removes the div with the 'div-02' id
                        }

                      })




                    })

                    /*]]>*/
        </script>
    </body>
</html>
