<!DOCTYPE html>
<html
    lang="en"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:th="http://www.thymeleaf.org"
    xmlns="http://www.thymeleaf.org"
    layout:decorate="~{/layout/layout.html}"
>
    <head>
        <title>MK01</title>
    </head>
<body>
<div layout:fragment="contents">

  <div class="form insert">
    <form action="/commentsProcess" method="post" enctype="multipart/form-data">
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="title" name="title">
        <label for="floatingInput">NICKNAME</label>
      </div>
      <div class=" mb-3">
          <label for="floatingTextarea">Comments</label>
          <textarea class="form-control" rows="4" placeholder="Leave a comment here" id="floatingTextarea" name="comments"></textarea>
        </div>
      <hr>
      <div class="btns text-center">
        <button class="btn btn-primary">확인</button>
        <a href="/" class="btn btn-secondary">취소</a>
      </div>
    </form>
    <script>
        const {src} = JSON.parse(localStorage.getItem("image-info"));

        console.log("src===1111"+src);
    </script>
  </div>
  </div>
</body>
</html>

