<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.project01.mk01.dao.ImageDao">
    <!-- insert 데이터 삽입 실시 : 이미지 저장 -->
    <insert id="insertGallery" parameterType="ImageDto">
        INSERT INTO IMAGES VALUES (
          IMAGES_SEQ.NEXTVAL,
          #{title},
          #{tag},
          #{original},
          SYSDATE,
          0

          
        )
      </insert>

   

      <select id="getAllimages" resultType="ImageDto">

        SELECT * FROM IMAGES ORDER BY NO DESC


      </select>

      <select id="orderByHitImages" resultType="ImageDto">

        SELECT * FROM IMAGES ORDER BY hit desc


      </select>
      

      
      <select id="getAllcomment" resultType="commentBoardDto">

        SELECT * FROM imageboard ORDER BY NO 


      </select>

      <select id="getTag" resultType="ImageDto">

        SELECT * FROM images where original = #{original}

      </select>
      

      <select id="getUploadOrignalPath" resultType="uploadDto">
        select renamed, originalpath from uploadboard  
      </select>

      <update id="hitUp" parameterType="ImageDto">
        update images set hit =hit+1 where original = #{original}
    </update>

    <update id="delReply" parameterType="commentBoardDto">
       update imageboard set AVAILABLE = 0 where no = #{no}
    </update>


      <insert id="insertImage" parameterType="uploadDto">
        INSERT INTO  uploadboard values (
          UPLOADBOARD_SEQ.NEXTVAL,
          #{userId},
          #{original},
          #{renamed},
          SYSDATE,
          #{originalPath}
        )
      </insert>

   
      
      <insert id="updateReply" parameterType="commentBoardDto">
            insert into imageboard values (
                      imageboard_SEQ.NEXTVAL,
                      #{contents},
                      SYSDATE,
                      1,
                      #{nickName},
                      #{original}
                    )
        
    </insert>

</mapper>