<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project01.mk01.dao.LoginBoardDao">

    <select id="searchBoard" resultType="LoginBoardDto" parameterType="LoginBoardDto" >

        select * from signup where userid = #{userId} and  userpw = #{userPw}
        
    </select>
    <select id="idCheck" resultType="Integer" parameterType="LoginBoardDto" >

      SELECT COUNT(*) FROM signup where userid=#{userId}
        
    </select>

    <select id="nickNameCheck" resultType="Integer" parameterType="LoginBoardDto" >

      SELECT COUNT(*) FROM signup where nickname=#{nickName}
        
    </select>

    <insert id="signup" parameterType="LoginBoardDto" >

      INSERT INTO signup VALUES (
      signup_SEQ.NEXTVAL,
        #{nickName},
        #{userId},
        #{userPw},
        #{userEmail}
      
            )

      
    </insert>



    
</mapper>