@charset "UTF-8";
@font-face {
  font-family: "Sohne";
  font-style: normal;
  font-weight: 200;
  src: url(/font/Sohne/TestSöhne-Extraleicht.otf) format("opentype");
}
@font-face {
  font-family: "Sohne";
  font-style: normal;
  font-weight: 300;
  src: url(/font/Sohne/TestSöhne-Leicht.otf) format("opentype");
}
@font-face {
  font-family: "Sohne";
  font-style: normal;
  font-weight: 400;
  src: url(/font/Sohne/TestSöhne-Buch.otf) format("opentype");
}
@font-face {
  font-family: "Sohne";
  font-style: normal;
  font-weight: 500;
  src: url(/font/Sohne/TestSöhne-Kräftig.otf) format("opentype");
}
@font-face {
  font-family: "Sohne";
  font-style: normal;
  font-weight: 600;
  src: url(/font/Sohne/TestSöhne-Halbfett.otf) format("opentype");
}
@font-face {
  font-family: "Sohne";
  font-style: normal;
  font-weight: 700;
  src: url(/font/Sohne/TestSöhne-Dreiviertelfett.otf) format("opentype");
}
@font-face {
  font-family: "Sohne";
  font-style: normal;
  font-weight: 800;
  src: url(/font/Sohne/TestSöhne-Fett.otf) format("opentype");
}
@font-face {
  font-family: "Sohne";
  font-style: normal;
  font-weight: 900;
  src: url(/font/Sohne/TestSöhne-Extrafett.otf) format("opentype");
}
@font-face {
  font-family: "SCD";
  font-style: normal;
  font-weight: 100;
  src: url(/font/SCDream/SCDream1.otf) format("opentype");
}
@font-face {
  font-family: "SCD";
  font-style: normal;
  font-weight: 200;
  src: url(/font/SCDream/SCDream2.otf) format("opentype");
}
@font-face {
  font-family: "SCD";
  font-style: normal;
  font-weight: 300;
  src: url(/font/SCDream/SCDream3.otf) format("opentype");
}
@font-face {
  font-family: "SCD";
  font-style: normal;
  font-weight: 400;
  src: url(/font/SCDream/SCDream4.otf) format("opentype");
}
@font-face {
  font-family: "SCD";
  font-style: normal;
  font-weight: 500;
  src: url(/font/SCDream/SCDream5.otf) format("opentype");
}
@font-face {
  font-family: "SCD";
  font-style: normal;
  font-weight: 600;
  src: url(/font/SCDream/SCDream6.otf) format("opentype");
}
@font-face {
  font-family: "SCD";
  font-style: normal;
  font-weight: 700;
  src: url(/font/SCDream/SCDream7.otf) format("opentype");
}
@font-face {
  font-family: "SCD";
  font-style: normal;
  font-weight: 800;
  src: url(/font/SCDream/SCDream8.otf) format("opentype");
}
@font-face {
  font-family: "SCD";
  font-style: normal;
  font-weight: 900;
  src: url(/font/SCDream/SCDream9.otf) format("opentype");
}
.hidden {
  display: none;
}

.genCustomWarp {
  font-family: "Sohne", "SCD", sans-serif;
  font-weight: 300;
  background-color: #ff7700;
  color: black;
}
.genCustomWarp .genCWrap {
  position: relative;
  z-index: 2;
}

.genCHeader {
  position: fixed;
  display: block;
  top: -10px;
  width: 100%;
  top: 70px;
}
.genCHeader.off {
  opacity: 0;
}

body {
  font-family: "Sohne", "SCD", sans-serif;
  font-weight: 300;
  background-color: black;
  color: rgb(81, 218, 76);
}
body .myHeader {
  border-bottom: none;
  transition: all 0.5s ease;
  background-color: white;
  color: black;
}
body .myHeader.on {
  background-color: rgba(0, 0, 0, 0);
}
body .headerS {
  position: fixed;
  display: block;
  top: -10px;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 70px;
}
body .headerS.off {
  opacity: 0;
}
body .footerS {
  z-index: -1;
  width: 100%;
  height: 100%;
  position: relative;
  opacity: 0;
  transition: all 0.5s ease;
}
body .footerS.on {
  opacity: 100;
  display: block;
}
body h1 {
  font-weight: 700;
  font-size: 75px;
}
body main {
  position: relative;
  padding-top: 75px;
}
body #canvas {
  cursor: grab;
}
body #invert {
  display: none;
}
body #grayscale {
  display: none;
}
body #sepia {
  display: none;
}
body .input-group-text {
  cursor: pointer;
}
body .upload-name {
  border-radius: 5px;
}
body .input-group input[type=file] {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}
body .topWrap {
  display: flex;
  justify-content: center;
  padding: 30px 20px;
  /* move */
  /* move */
  /* move */
}
body .topWrap .canvasBtnWarp {
  margin-right: 30px;
}
body .topWrap .canvasWrap {
  border: 1px solid white;
  transition: all 0.25s ease;
}
body .topWrap .OnOffwrapper {
  position: relative;
}
body .topWrap .rightBtnWrap {
  display: inline;
  margin-left: 30px;
}
body .topWrap .rightBtnWrap .download {
  margin: 0 10px;
  display: inline;
}
body .topWrap .rightBtnWrap .download .download_title {
  display: flex;
  align-items: center;
  justify-content: start;
}
body .topWrap .rightBtnWrap .download .download_title h2 {
  margin-left: 10px;
}
body .topWrap .rightBtnWrap .download .btnDown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100px;
  height: 50px;
}
body .topWrap .rightBtnWrap .download .btnDown a {
  margin: 10px 5px;
}
body .topWrap .rightBtnWrap .share {
  margin-top: 8px;
  margin: 0 10px;
  display: inline;
}
body .topWrap .rightBtnWrap .share .share_title {
  display: flex;
  align-items: center;
  justify-content: start;
}
body .topWrap .rightBtnWrap .share .share_title h2 {
  margin-left: 10px;
}
body .topWrap .rightBtnWrap .share .kakaoBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 39px;
  height: 38px;
}
body .topWrap .rightBtnWrap .share .kakaoBtn a {
  width: 39px;
  height: 26px;
  margin: 10px 5px;
}
body .topWrap .rightBtnWrap .share .kakaoBtn a img {
  width: 39px;
  height: 39px;
}
body .topWrap .rightBtnWrap .upload {
  margin-top: 8px;
  margin: 0 10px;
  display: inline;
}
body .topWrap .rightBtnWrap .upload .upload_title {
  display: flex;
  align-items: center;
  justify-content: start;
}
body .topWrap .rightBtnWrap .upload .upload_title h2 {
  margin-left: 10px;
}
body .topWrap .invert {
  position: absolute;
  /* hidden */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
body .topWrap .switch_label {
  position: relative;
  cursor: pointer;
  display: inline-block;
  width: 58px;
  height: 28px;
  background: #fff;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 20px;
  transition: 0.2s;
}
body .topWrap .switch_label:hover {
  background: #d65858;
}
body .topWrap .onf_btn {
  position: absolute;
  top: 5px;
  left: 5px;
  display: inline-block;
  width: 19px;
  height: 19px;
  border-radius: 20px;
  background: rgb(151, 151, 151);
  transition: 0.2s;
}
body .topWrap #invert:checked + .switch_label {
  background: rgb(81, 218, 76);
  border: 2px solid rgb(81, 218, 76);
}
body .topWrap #invert:checked + .switch_label:hover {
  background: rgb(134, 255, 101);
}
body .topWrap #invert:checked + .switch_label .onf_btn {
  left: 33px;
  background: #fff;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1254901961);
}
body .topWrap #grayscale:checked + .switch_label {
  background: rgb(81, 218, 76);
  border: 2px solid rgb(81, 218, 76);
}
body .topWrap #grayscale:checked + .switch_label:hover {
  background: rgb(134, 255, 101);
}
body .topWrap #grayscale:checked + .switch_label .onf_btn {
  left: 33px;
  background: #fff;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1254901961);
}
body .topWrap #sepia:checked + .switch_label {
  background: rgb(81, 218, 76);
  border: 2px solid rgb(81, 218, 76);
}
body .topWrap #sepia:checked + .switch_label:hover {
  background: rgb(134, 255, 101);
}
body .topWrap #sepia:checked + .switch_label .onf_btn {
  left: 33px;
  background: #fff;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1254901961);
}
body #genCon2 {
  opacity: 0;
  transition: 0.5s ease;
}
body #genCon2.show {
  opacity: 1;
  transition: 0.5s ease;
}
body #genCon3 {
  opacity: 0;
  transition: 0.5s ease;
}
body #genCon3.show {
  opacity: 1;
  transition: 0.5s ease;
}
body #genCon4 {
  opacity: 0;
  transition: 0.5s ease;
}
body #genCon4.show {
  opacity: 1;
  transition: 0.5s ease;
}
body .bottomWrap {
  text-align: center;
  padding: 0 100px;
}
body .bottomWrap .addDelBtn {
  width: 200px;
  height: 40px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}
body .bottomWrap .addDelBtn .addGenCon svg {
  position: relative;
  align-items: center;
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin: 0 2px;
}
body .bottomWrap .addDelBtn .addGenCon.off {
  color: #333;
}
body .bottomWrap .addDelBtn .delGenCon svg {
  position: relative;
  align-items: center;
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin: 0 2px;
}
body .bottomWrap .addDelBtn .delGenCon.off {
  color: #333;
}
body .bottomWrap .addDelBtn .addBarBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 20px;
  background-color: white;
  margin-left: 2px;
  transition: all 0.25s ease;
}
body .bottomWrap .addDelBtn .barBox1 {
  background-color: #00fd0a;
  margin-left: 0;
}
body .bottomWrap .addDelBtn .barBox2.on {
  background-color: #00fd0a;
}
body .bottomWrap .addDelBtn .barBox3.on {
  background-color: #00fd0a;
}
body .bottomWrap .addDelBtn .barBox4.on {
  background-color: #00fd0a;
}
body .bottomWrap .genCon {
  display: block;
  width: 1000px;
  height: 150px;
  border: 1px solid white;
  margin: 0 auto;
  margin-bottom: 10px;
}
body .bottomWrap .genCon .anchorColor {
  width: 20px;
  height: 20px;
  position: relative;
  border-radius: 6px;
}
body .bottomWrap .genCon .anchor1 {
  background-color: red;
}
body .bottomWrap .genCon .anchor2 {
  background-color: blue;
}
body .bottomWrap .genCon .anchor3 {
  background-color: green;
}
body .bottomWrap .genCon .anchor4 {
  background-color: yellow;
}
body .bottomWrap .genCon .txtBoxDiv {
  display: flex;
  padding: 0 100px;
  margin-bottom: 5px;
  justify-content: start;
  align-items: center;
  padding-bottom: 10px;
}
body .bottomWrap .genCon .txtBoxDiv textarea {
  resize: none;
}
body .bottomWrap .genCon .txtBoxDiv .colorisFull .clr-field {
  width: 50px;
  height: 30px;
  border-radius: 10px;
  border: none;
}
body .bottomWrap .genCon .txtBoxDiv .colorisFull .clr-field input {
  opacity: 0;
  width: 50px;
  height: 30px;
  border: none;
}
body .bottomWrap .genCon .txtBoxDiv .colorisFull .clr-field button {
  border-radius: 5px;
  border: none;
  width: 100%;
  height: 100%;
}
body .bottomWrap .slider {
  width: 130px;
  height: 15px;
  -webkit-appearance: none;
  background: #111;
  outline: none;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: inset 0 0 5px rgb(0, 0, 0);
  margin-right: 10px;
}
body .bottomWrap .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #00fd0a;
  cursor: pointer;
  border: 5px solid #333;
  box-shadow: -407px 0 0 400px #00fd0a;
}
body .bottomWrap .slider.rotateRange::-webkit-slider-thumb {
  transform: translateY(-3.8px);
}
body .bottomWrap .ranges {
  display: flex;
  padding: 0 100px;
  justify-content: start;
  align-items: center;
  padding-bottom: 10px;
}
body .bottomWrap .txtCon {
  display: flex;
  padding: 0 100px;
  justify-content: start;
  align-items: center;
  padding-bottom: 10px;
}

.modal.fade#imgModal {
  color: black;
}
.modal.fade#imgModal .modal-dialog .modal-content .modal-body .container-fluid .row #modal-image img {
  width: 700px;
  object-fit: contain;
  border-radius: 10px;
}

.clickedSwiper {
  width: 580px !important;
  height: 580px !important;
  margin: 0 !important;
  background-color: #000;
}
.clickedSwiper .pageNav {
  opacity: 0;
  transition: all 0.25s ease;
}
.clickedSwiper .pageNav:hover {
  opacity: 1;
}
.clickedSwiper .pageNav.on {
  opacity: 1;
}
.clickedSwiper .swiper-wrapper .swiper-slide {
  width: 580px;
  height: 580px;
}
.clickedSwiper .swiper-wrapper .swiper-slide img {
  width: 580px;
  height: 580px;
  object-fit: contain;
  border-radius: 0px !important;
}

.clickedSwiperThumb {
  width: 580px !important;
  height: 70px !important;
  margin: 0 !important;
  background-color: #000;
}
.clickedSwiperThumb .swiper-wrapper {
  width: 580px !important;
}
.clickedSwiperThumb .swiper-wrapper .swiper-slide {
  width: 145px;
  opacity: 0.4;
}
.clickedSwiperThumb .swiper-wrapper .swiper-slide img {
  width: 145px;
  height: 70px;
  object-fit: cover;
}
.clickedSwiperThumb .swiper-wrapper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper {
  width: 100%;
  height: 400px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper .swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
}
.swiper .swiper-slide:hover {
  position: relative;
  z-index: 9;
}
.swiper .swiper-slide:hover a {
  z-index: 9;
}
.swiper .swiper-slide:hover a img {
  width: 350px;
  height: 350px;
}
.swiper .swiper-slide:hover a img:hover {
  animation: keep-size 0.5s forwards;
  animation-delay: 1.5s;
  animation-timing-function: ease;
}
@keyframes keep-size {
  from {
    width: 350px;
    height: 350px;
    opacity: 0%;
  }
  to {
    width: 700px;
    height: 350px;
    object-fit: contain;
    opacity: 100%;
  }
}
.swiper .swiper-slide a img {
  position: relative;
  width: 300px;
  border-radius: 10px;
  height: 300px;
  object-fit: cover;
  transition: width 0.25s ease, height 0.25s ease;
}

.tagWrap {
  overflow: hidden;
}
.tagWrap .tickerMove {
  font-size: 30px;
  animation: ticker linear 20s infinite;
}
@keyframes ticker {
  0% {
    transform: translate3d(100%, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}
.tagWrap .tickerMove:hover {
  animation-play-state: paused;
}
.tagWrap .tickerMove a {
  width: auto;
  background-color: #737373;
  padding: 0 10px;
  border-radius: 15px;
}
.tagWrap .tickerMove a::before {
  content: "#";
}
.tagWrap .tickerMove a:hover {
  background-color: #00fd0a;
  color: #fff;
}

#imgModal {
  backdrop-filter: blur(5px);
}

.material-icons {
  display: flex;
  align-items: center;
  font-size: 36px;
  color: rgb(81, 218, 76);
  border: none;
  outline: none;
}

.sendBtn {
  border: none;
  background: none;
}

.centerSet {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 250px);
}

.infoCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 250px);
  text-align: left;
}

th, td {
  padding-right: 20px;
}