@charset "UTF-8";
@font-face {
  font-family: "Sohne";
  font-style: normal;
  font-weight: 200;
  src: url(/font/Sohne/TestSöhne-Extraleicht.otf) format("opentype");
}
@font-face {
  font-family: "Sohne";
  font-style: normal;
  font-weight: 300;
  src: url(/font/Sohne/TestSöhne-Leicht.otf) format("opentype");
}
@font-face {
  font-family: "Sohne";
  font-style: normal;
  font-weight: 400;
  src: url(/font/Sohne/TestSöhne-Buch.otf) format("opentype");
}
@font-face {
  font-family: "Sohne";
  font-style: normal;
  font-weight: 500;
  src: url(/font/Sohne/TestSöhne-Kräftig.otf) format("opentype");
}
@font-face {
  font-family: "Sohne";
  font-style: normal;
  font-weight: 600;
  src: url(/font/Sohne/TestSöhne-Halbfett.otf) format("opentype");
}
@font-face {
  font-family: "Sohne";
  font-style: normal;
  font-weight: 700;
  src: url(/font/Sohne/TestSöhne-Dreiviertelfett.otf) format("opentype");
}
@font-face {
  font-family: "Sohne";
  font-style: normal;
  font-weight: 800;
  src: url(/font/Sohne/TestSöhne-Fett.otf) format("opentype");
}
@font-face {
  font-family: "Sohne";
  font-style: normal;
  font-weight: 900;
  src: url(/font/Sohne/TestSöhne-Extrafett.otf) format("opentype");
}
@font-face {
  font-family: "SCD";
  font-style: normal;
  font-weight: 100;
  src: url(/font/SCDream/SCDream1.otf) format("opentype");
}
@font-face {
  font-family: "SCD";
  font-style: normal;
  font-weight: 200;
  src: url(/font/SCDream/SCDream2.otf) format("opentype");
}
@font-face {
  font-family: "SCD";
  font-style: normal;
  font-weight: 300;
  src: url(/font/SCDream/SCDream3.otf) format("opentype");
}
@font-face {
  font-family: "SCD";
  font-style: normal;
  font-weight: 400;
  src: url(/font/SCDream/SCDream4.otf) format("opentype");
}
@font-face {
  font-family: "SCD";
  font-style: normal;
  font-weight: 500;
  src: url(/font/SCDream/SCDream5.otf) format("opentype");
}
@font-face {
  font-family: "SCD";
  font-style: normal;
  font-weight: 600;
  src: url(/font/SCDream/SCDream6.otf) format("opentype");
}
@font-face {
  font-family: "SCD";
  font-style: normal;
  font-weight: 700;
  src: url(/font/SCDream/SCDream7.otf) format("opentype");
}
@font-face {
  font-family: "SCD";
  font-style: normal;
  font-weight: 800;
  src: url(/font/SCDream/SCDream8.otf) format("opentype");
}
@font-face {
  font-family: "SCD";
  font-style: normal;
  font-weight: 900;
  src: url(/font/SCDream/SCDream9.otf) format("opentype");
}
body {
  font-family: "Sohne", "SCD", sans-serif;
  font-weight: 300;
  background-color: black;
  color: rgb(81, 218, 76);
}
body .myHeader {
  border-bottom: none;
  transition: all 0.25s ease;
}
body .myHeader.on {
  background-color: white;
  color: black;
}
body h1 {
  font-weight: 700;
  font-size: 75px;
}
body main {
  position: relative;
  padding-top: 75px;
}
body #canvas {
  cursor: grab;
}
body #invert {
  display: none;
}
body #grayscale {
  display: none;
}
body #sepia {
  display: none;
}
body .input-group-text {
  cursor: pointer;
}
body .upload-name {
  border-radius: 5px;
}
body .input-group input[type=file] {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}
body .topWrap {
  display: flex;
  justify-content: flex-end;
  padding: 30px 20px;
  /* move */
  /* move */
  /* move */
}
body .topWrap .OnOffwrapper {
  position: relative;
}
body .topWrap .invert {
  position: absolute;
  /* hidden */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
body .topWrap .switch_label {
  position: relative;
  cursor: pointer;
  display: inline-block;
  width: 58px;
  height: 28px;
  background: #fff;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 20px;
  transition: 0.2s;
}
body .topWrap .switch_label:hover {
  background: #d65858;
}
body .topWrap .onf_btn {
  position: absolute;
  top: 5px;
  left: 5px;
  display: inline-block;
  width: 19px;
  height: 19px;
  border-radius: 20px;
  background: rgb(151, 151, 151);
  transition: 0.2s;
}
body .topWrap #invert:checked + .switch_label {
  background: rgb(81, 218, 76);
  border: 2px solid rgb(81, 218, 76);
}
body .topWrap #invert:checked + .switch_label:hover {
  background: rgb(134, 255, 101);
}
body .topWrap #invert:checked + .switch_label .onf_btn {
  left: 33px;
  background: #fff;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1254901961);
}
body .topWrap #grayscale:checked + .switch_label {
  background: rgb(81, 218, 76);
  border: 2px solid rgb(81, 218, 76);
}
body .topWrap #grayscale:checked + .switch_label:hover {
  background: rgb(134, 255, 101);
}
body .topWrap #grayscale:checked + .switch_label .onf_btn {
  left: 33px;
  background: #fff;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1254901961);
}
body .topWrap #sepia:checked + .switch_label {
  background: rgb(81, 218, 76);
  border: 2px solid rgb(81, 218, 76);
}
body .topWrap #sepia:checked + .switch_label:hover {
  background: rgb(134, 255, 101);
}
body .topWrap #sepia:checked + .switch_label .onf_btn {
  left: 33px;
  background: #fff;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1254901961);
}
body .topWrap .canvasWrap {
  border: 1px solid white;
  transition: all 0.25s ease;
}
body #genCon3 {
  display: none;
}
body #genCon4 {
  display: none;
}
body .bottonWrap {
  text-align: center;
  padding: 0 100px;
}
body .bottonWrap .genCon {
  display: block;
  width: 1000px;
  height: 150px;
  border: 1px solid white;
  margin: 0 auto;
  margin-bottom: 10px;
}
body .bottonWrap .genCon .anchorColor {
  width: 20px;
  height: 20px;
  position: relative;
  border-radius: 6px;
}
body .bottonWrap .genCon .anchor1 {
  background-color: red;
}
body .bottonWrap .genCon .anchor2 {
  background-color: blue;
}
body .bottonWrap .genCon .anchor3 {
  background-color: green;
}
body .bottonWrap .genCon .anchor4 {
  background-color: yellow;
}
body .bottonWrap .genCon .txtBoxDiv {
  display: flex;
  padding: 0 100px;
  margin-bottom: 5px;
  justify-content: start;
  align-items: center;
  padding-bottom: 10px;
}
body .bottonWrap .genCon .txtBoxDiv textarea {
  resize: none;
}
body .bottonWrap .genCon .txtBoxDiv .colorisFull .clr-field {
  width: 50px;
  height: 30px;
  border-radius: 5px;
  border-radius: 1px solid black;
}
body .bottonWrap .genCon .txtBoxDiv .colorisFull .clr-field input {
  opacity: 0;
  width: 50px;
  height: 30px;
  border-radius: 5px;
  border-radius: 1px solid black;
}
body .bottonWrap .genCon .txtBoxDiv .colorisFull .clr-field button {
  width: 100%;
  height: 100%;
}
body .bottonWrap .ranges {
  display: flex;
  padding: 0 100px;
  justify-content: start;
  align-items: center;
  padding-bottom: 10px;
}
body .bottonWrap .txtCon {
  display: flex;
  padding: 0 100px;
  justify-content: start;
  align-items: center;
  padding-bottom: 10px;
}
body .download {
  margin-left: 40px;
  display: inline;
}
body .download .download_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body .download .download_title h2 {
  margin-left: 10px;
}
body .download .btnDown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100px;
  height: 50px;
}
body .download .btnDown a {
  margin: 10px 5px;
}
body .share {
  margin-top: 8px;
  margin-left: 40px;
  display: inline;
}
body .share .shareTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body .share .shareTitle h2 {
  margin-left: 10px;
}
body .share .kakaoBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100px;
  height: 50px;
}
body .share .kakaoBtn a {
  width: 100px;
  height: 59px;
  margin: 10px 5px;
}
body .share .kakaoBtn a img {
  width: 40px;
  height: 40px;
}

.modal.fade#imgModal {
  color: black;
}
.modal.fade#imgModal .modal-dialog .modal-content .modal-body .container-fluid .row #modal-image img {
  width: 700px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 10px;
}

.swiper {
  width: 100%;
  height: 400px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper .swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
}
.swiper .swiper-slide:hover {
  position: relative;
  z-index: 9;
}
.swiper .swiper-slide:hover a {
  z-index: 9;
}
.swiper .swiper-slide:hover a img {
  width: 350px;
  height: 350px;
}
.swiper .swiper-slide:hover a img:hover {
  animation: keep-size 0.5s forwards;
  animation-delay: 1.5s;
  animation-timing-function: ease;
}
@keyframes keep-size {
  from {
    width: 350px;
    height: 350px;
    opacity: 0%;
  }
  to {
    width: 700px;
    height: 350px;
    -o-object-fit: contain;
       object-fit: contain;
    opacity: 100%;
  }
}
.swiper .swiper-slide a img {
  position: relative;
  width: 300px;
  border-radius: 10px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  transition: width 0.25s ease, height 0.25s ease;
}