<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
                xmlns:th="http://www.thymeleaf.org" 
                xmlns="http://www.thymeleaf.org"
                layout:decorate="~{/layout/layout.html}">
<head>
  <title>REPLYBOARD</title>
</head>
<body>
  <div layout:fragment="contents">
    <h2>SIGN-UP</h2>

    <div class="col-md-6" action="/login/signProcess" method="post" th:object="${LoginBoardDto}" >

    
        
        <div class="col-md-6">
          <label for="inputEmail4" class="form-label" >NICKNAME</label>
          
          <p type="text" class="form-control" id="nickName" th:text="${session.board.nickName}" >asd</p>

          
        </div>

        <div class="col-md-6">
          <label for="inputEmail4" class="form-label" >ID</label>
        
          <p type="text" class="form-control" id="userId" th:text="${session.board.userId}" >asd</p>

        </div>

        <div class="col-md-6">
          <label for="inputPassword4" class="form-label">Password</label>
          <input type="password" class="form-control userPw_confirm" id="userPw" name="userPw" th:value="${session.board.userPw}">

        </div>
       

        <div class="col-12">
          <a href="/modify" class="btn btn-primary">MODIFY</a>
          <a href="/login/delete" class="btn btn-warning">DELETE</a>
          <a href="/" class="btn btn-secondary">CANCEL</a>
        </div>
    </div>
  </div>
</body>

</html>