<!DOCTYPE html>
<html
  lang="en"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:th="http://www.thymeleaf.org"
  xmlns="http://www.thymeleaf.org"
  layout:decorate="~{/layout/layout.html}"
>
  <head>
    <title>REPLYBOARD</title>
  </head>
  <body>
    <div layout:fragment="contents">
      <div class="container">
        <form action="/loginProcess" method="post" class="mt-5">
          <!-- <img class="mb-4" src="/images/Coca-Cola_logo.svg" alt="" width="72" height="57"> -->
          <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

          <div class="form-floating">
            <input
              type="text"
              class="form-control"
              id="userId"
              placeholder="ID"
              name="userId"
            />
            <label for="floatingInput">ID</label>
          </div>
          <div class="form-floating">
            <input
              type="password"
              class="form-control"
              id="userPw"
              placeholder="Password"
              name="userPw"
            />
            <label for="floatingPassword">Password</label>
          </div>

          <div class="checkbox mb-3">
            <label>
              <input type="checkbox" value="remember-me" /> Remember me
            </label>
          </div>
          <button class="w-100 btn btn-lg btn-primary" type="submit">
            Sign in
          </button>
          <p class="mt-5 mb-3 text-body-secondary">© 2017–2023</p>
        </form>
      </div>
    </div>
  </body>
</html>
