<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
                xmlns:th="http://www.thymeleaf.org" 
                xmlns="http://www.thymeleaf.org"
                layout:decorate="~{/layout/layout.html}">
                
<head>
  <title>REPLYBOARD</title>
</head>
<body>
  <div layout:fragment="contents">
    
    <form class="mt-5 centerSet" action="/modifyProcess" method="post" th:object="${loginBoardDto}" enctype="multipart/form-data" >
      
      <div class="container">
          <h2>MODIFY</h2>
  
          <div class="form-floating col-md-6 mb-3">
            <input type="text" class="form-control nickName_modify" id="nickName" name="nickName" th:value="${session.board.nickName}">
            <label for="inputEmail4 floatingInput" class="form-label" >NickName</label>
            <div id="nickName_div"></div>
  
            <!-- <p th:if="${#fields.hasErrors('nickName')}" th:errorclass="errorTxt" th:errors="*{nickName}"></p> -->
          </div>
  
          <div class="form-floating col-md-6 mb-3">
            <input readonly type="text" class="form-control id_modify" id="userId" name="userId" th:value="${session.board.userId}" >
            <label for="inputEmail4 floatingInput" class="form-label" readonly>ID</label>
            <div id="id_div"></div>
            <!-- <p th:if="${#fields.hasErrors('userId')}" th:errorclass="errorTxt" th:errors="*{userId}"></p>
            <button class="idChk" type="button" id="idChk" onclick="fn_idChk();" value="N">중복확인</button> -->
          </div>
  
          <div class="form-floating col-md-6 mb-3">
            <input type="password" class="form-control userPw_confirm" id="userPw" name="userPw" th:value="${session.board.userPw}">
            <label for="inputPassword4 floatingInput" class="form-label">Password</label>
            <div id="userPw_div"></div>
          </div>
  
          <div class="form-floating col-md-6 mb-3">
            <input type="password" class="form-control userPwCheck_confirm" id="userPwCheck" name="userPwCheck" th:value="${session.board.userPwCheck}"  >
            <label for="inputPassword4 floatingInput" class="form-label">Password Check</label>
            <div id="userPwCheck_div"></div>
          </div>
  
  
  
          <div class="form-floating col-md-6 mb-3">
            <input type="text" class="form-control email_confirm" id="userEmail" name="userEmail" th:value="${session.board.userEmail}" >
            <label for="inputEmail4 floatingInput" class="form-label" >Email</label>
            <div id="email_div"></div>
  
          </div>
          
             <div class="col-12">
              
               <button type="submit" class="btn btn-primary">MODIFY</button>
                 
               
               <a href="/info" class="btn btn-secondary">CANCEL</a>
     
             </div>
      </div>
   
          
          


      </form>

  </div>
</body>

</html>