<!DOCTYPE html>
<html>
  <head>
    <title>gen5</title>
    <!-- 레이아웃에 나중에 이식해야함 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/mdbassit/Coloris@latest/dist/coloris.min.css" />

    <script src="https://cdn.jsdelivr.net/gh/mdbassit/Coloris@latest/dist/coloris.min.js"></script>
    <!-- 레이아웃에 나중에 이식해야함 -->
  </head>
  <body>
    <h1>gen5</h1>
    <input type="file" id="fileInput" />
    <br /><br />
    <canvas id="canvas" width="500" height="500"></canvas>
    <br /><br />
    <label for="topRange">Top Position:</label>
    <input type="range" id="topRange" min="0" max="500" step="1" value="0" />
    <br /><br />
    <label for="leftRange">Left Position:</label>
    <input type="range" id="leftRange" min="0" max="500" step="1" value="0" />
    <br /><br />
    <label for="txtBox">Text:</label>
    <input type="text" id="txtBox" />
    <br /><br />
    <label for="fontSizeRange">Font Size:</label>
    <input type="range" id="fontSizeRange" min="14" max="72" step="1" value="36" />
    <br /><br />
    <label for="fontColor">Font Color:</label>
    <input type="text" id="fontColor" value="#ffffff" data-coloris />

    <br /><br />
    <label for="fontWeight">Font Weight:</label>
    <select id="fontWeight">
      <option value="bold">Bold</option>
      <option value="italic">Italic</option>
    </select>
    <br /><br />
    <label for="fontFamilySelect">Font Family:</label>
    <select id="fontFamilySelect">
      <option value="sans-serif">Sans-serif</option>
      <option value="serif">Serif</option>
      <option value="monospace">Monospace</option>
      <option value="cursive">Cursive</option>
      <option value="fantasy">Fantasy</option>
    </select>
    <br /><br />

    <a id="downloadLink" download="meme.png" href="#" style="display: none">Download Meme</a>
    <script>
      const canvas = document.querySelector("#canvas");
      const ctx = canvas.getContext("2d");
      const fileInput = document.querySelector("#fileInput");
      const topRange = document.querySelector("#topRange");
      const leftRange = document.querySelector("#leftRange");
      const txtBox = document.querySelector("#txtBox");
      const downloadLink = document.querySelector("#downloadLink");
      const fontSizeRange = document.querySelector("#fontSizeRange");
      const fontWeight = document.querySelector("#fontWeight");
      const fontFamilySelect = document.querySelector("#fontFamilySelect");
      let colorPicker = document.querySelector("#fontColor");
      let img = null;

      Coloris({
        parent: ".demo",
        theme: "default",
        themeMode: "light",
        margin: 2,
        alpha: true,
        format: "hex",
        clearButton: true,
        clearLabel: "Clear",
        swatches: [
          "#264653",
          "#2a9d8f",
          "#e9c46a",
          "rgb(244,162,97)",
          "#e76f51",
          "#d62828",
          "navy",
          "#07b",
          "#0096c7",
          "#00b4d880",
          "rgba(0,119,182,0.8)",
        ],
        inline: false,
        defaultColor: "#000000",
      });

      fileInput.addEventListener("change", () => {
        const reader = new FileReader();
        reader.onload = () => {
          img = new Image();
          img.onload = () => {
            let ratio = img.width / img.height;
            if (ratio > 1) {
              canvas.width = 500;
              canvas.height = 500 / ratio;
            } else {
              canvas.width = 500 * ratio;
              canvas.height = 500;
            }
            ctx.drawImage(img, 0, 0, canvas.width, canvas.height);
          };
          img.src = reader.result;
        };
        reader.readAsDataURL(fileInput.files[0]);
      });

      let defaultColor = "#ffffff";
      let fontColorPicked = defaultColor;

      window.addEventListener(
        "load",
        () => {
          colorPicker.value = defaultColor;
          colorPicker.addEventListener(
            "input",
            () => {
              fontColorPicked = event.target.value;
              drawCanvas();
            },
            false
          );
          colorPicker.select();
        },
        false
      );

      function drawCanvas() {
        if (img !== null) {
          ctx.clearRect(0, 0, canvas.width, canvas.height);
          ctx.drawImage(img, 0, 0, canvas.width, canvas.height);
          ctx.fillStyle = fontColorPicked;
          // prettier-ignored
          ctx.font = fontWeight.value + " " + +fontSizeRange.value + "px " + fontFamilySelect.value;
          ctx.textAlign = "center";
          ctx.fillText(txtBox.value, canvas.width / 2 + parseInt(leftRange.value), parseInt(topRange.value) + 36);
          downloadLink.href = canvas.toDataURL();
          downloadLink.style.display = "block";
        }
      }

      txtBox.addEventListener("input", drawCanvas, false);
      topRange.addEventListener("input", drawCanvas, false);
      leftRange.addEventListener("input", drawCanvas, false);
      colorPicker.addEventListener("input", drawCanvas, false);
      fontWeight.addEventListener("input", drawCanvas, false);
      fontSizeRange.addEventListener("input", drawCanvas, false);
      fontFamilySelect.addEventListener("input", drawCanvas, false);
    </script>
  </body>
</html>
