<!DOCTYPE html>
<html>
  <head>
    <title>gen6</title>
    <!-- 레이아웃에 나중에 이식해야함 -->
    <link rel="stylesheet" href="/css/coloris.css" />
    <script src="/js/coloris.js"></script>
    <script src="/js/jquery-3.6.4.min.js"></script>
    <!-- 레이아웃에 나중에 이식해야함 -->
  </head>
  <body>
    <h1>gen6</h1>
    <input type="file" id="fileInput" />
    <br /><br />
    <canvas id="canvas" width="5" height="5"></canvas>
    <br /><br />
    <label for="topRange">Top Position:</label>
    <input type="range" id="topRange" min="0" max="500" step="1" value="0" />
    <br /><br />
    <label for="leftRange">Left Position:</label>
    <input type="range" id="leftRange" min="0" max="500" step="1" value="0" />
    <br /><br />
    <label for="rotateRange">Rotate Position:</label>
    <input type="range" id="rotateRange" min="-180" max="180" step="30" value="0" list="values" />
    <datalist id="values">
      <option value="-180" label="-180">-180deg</option>
      <option value="-90" label="-90">-90deg</option>
      <option value="0" label="0">0deg</option>
      <option value="90" label="90">90deg</option>
      <option value="180" label="180">180deg</option>
    </datalist>
    <br /><br />
    <label for="txtBox">Text:</label>
    <input type="text" id="txtBox" />
    <br /><br />
    <label for="fontSizeRange">Font Size:</label>
    <input type="range" id="fontSizeRange" min="14" max="72" step="1" value="36" />
    <br /><br />
    <label for="fontColor">Font Color:</label>
    <input type="text" id="fontColor" value="#ffffff" data-coloris />

    <br /><br />
    <label for="fontWeight">Font Weight:</label>
    <select id="fontWeight">
      <option value="bold">Bold</option>
      <option value="italic">Italic</option>
    </select>
    <br /><br />
    <label for="fontFamilySelect">Font Family:</label>
    <select id="fontFamilySelect">
      <option value="sans-serif">Sans-serif</option>
      <option value="serif">Serif</option>
      <option value="monospace">Monospace</option>
      <option value="cursive">Cursive</option>
      <option value="fantasy">Fantasy</option>
    </select>
    <br /><br />

    <a id="downloadLinkPNG" download="meme.png" href="#" style="display: none">Download Meme by PNG</a>
    <a id="downloadLinkJPG" download="meme.jpg" href="#" style="display: none">Download Meme by JPG</a>
    <script>
      const canvas = document.querySelector("#canvas");
      const ctx = canvas.getContext("2d");
      const rotateRange = document.querySelector("#rotateRange");
      const fileInput = document.querySelector("#fileInput");
      const topRange = document.querySelector("#topRange");
      const leftRange = document.querySelector("#leftRange");
      const txtBox = document.querySelector("#txtBox");
      const downloadLinkPNG = document.querySelector("#downloadLinkPNG");
      const downloadLinkJPG = document.querySelector("#downloadLinkJPG");
      const fontSizeRange = document.querySelector("#fontSizeRange");
      const fontWeight = document.querySelector("#fontWeight");
      const fontFamilySelect = document.querySelector("#fontFamilySelect");

      let colorPicker = document.querySelector("#fontColor");
      let img = null;
      let isDragging = false;
      let dragStart = { x: 0, y: 0 };
      //컬러픽커
      Coloris({
        parent: ".demo",
        theme: "default",
        themeMode: "light",
        margin: 2,
        alpha: true,
        format: "hex",
        clearButton: true,
        clearLabel: "Clear",
        swatches: [
          "#000000",
          "#ffffff",
          "#cccccc",
          "#ff0000",
          "#ffee00",
          "#22ff00",
          "#00ffe5",
          "#0000ff",
          "#9500ff",
          "#4ced82",
          "#f01d7c",
        ],
        inline: false,
        defaultColor: "#000000",
      });
      //canvas에 그림 불러올때 비율에 맞게 불러오는 기능
      fileInput.addEventListener("change", () => {
        const reader = new FileReader();
        reader.onload = () => {
          img = new Image();
          img.onload = () => {
            let ratio = img.width / img.height;
            if (ratio > 1) {
              canvas.width = 500;
              canvas.height = 500 / ratio;
            } else {
              canvas.width = 500 * ratio;
              canvas.height = 500;
            }
            ctx.drawImage(img, 0, 0, canvas.width, canvas.height);
          };
          img.src = reader.result;
        };
        reader.readAsDataURL(fileInput.files[0]);
      });

      //컬러 픽커의 바뀐 컬러값 realtime으로 바뀌게 만들기
      let defaultColor = "#ffffff";
      let fontColorPicked = defaultColor;

      window.addEventListener(
        "load",
        () => {
          colorPicker.value = defaultColor;
          colorPicker.addEventListener(
            "input",
            () => {
              fontColorPicked = event.target.value;
              drawCanvas();
            },
            false
          );
          colorPicker.select();
        },
        false
      );
      // drag 기능
      canvas.addEventListener("mousedown", (event) => {
        isDragging = true;
        dragStart = { x: event.clientX, y: event.clientY };
      });

      canvas.addEventListener("mousemove", (event) => {
        if (isDragging) {
          const dx = event.clientX - dragStart.x;
          const dy = event.clientY - dragStart.y;
          leftRange.value = parseInt(leftRange.value) + dx;
          topRange.value = parseInt(topRange.value) + dy;
          drawCanvas();
          dragStart = { x: event.clientX, y: event.clientY };
        }
      });

      canvas.addEventListener("mouseup", (event) => {
        isDragging = false;
      });

      // realtime 으로 text 입력하기
      function drawCanvas() {
        if (img !== null) {
          ctx.clearRect(0, 0, canvas.width, canvas.height);
          ctx.drawImage(img, 0, 0, canvas.width, canvas.height);
          ctx.fillStyle = fontColorPicked;
          // prettier-ignored
          ctx.font = fontWeight.value + " " + +fontSizeRange.value + "px " + fontFamilySelect.value;
          let textWidth = ctx.measureText(txtBox.value).width; // get the width of the text
          let textHeight = parseInt(fontSizeRange.value); // get the height of the text
          let centerX = parseInt(leftRange.value) + textWidth / 2; // calculate the x coordinate of the centroid
          let centerY = parseInt(topRange.value) + textHeight / 2; // calculate the y coordinate of the centroid
          ctx.save(); // save the current canvas state
          ctx.textAlign = "start";
          ctx.translate(centerX, centerY); // move the origin to the centroid
          ctx.rotate((parseInt(rotateRange.value) * Math.PI) / 180); // rotate the canvas
          ctx.fillText(
            txtBox.value,
            -textWidth / 2, // x position is now centered on the origin
            textHeight / 2 // y position is now centered on the origin
          );
          ctx.restore(); // restore the canvas state
          downloadLinkPNG.href = canvas.toDataURL();
          downloadLinkPNG.style.display = "block";
          downloadLinkJPG.href = canvas.toDataURL();
          downloadLinkJPG.style.display = "block";
          topRange.max = canvas.height - parseInt(fontSizeRange.value);
          leftRange.max = canvas.width - textWidth;
        }
      }

      rotateRange.addEventListener("input", drawCanvas, false);
      txtBox.addEventListener("input", drawCanvas, false);
      topRange.addEventListener("input", drawCanvas, false);
      leftRange.addEventListener("input", drawCanvas, false);
      colorPicker.addEventListener("input", drawCanvas, false);
      fontWeight.addEventListener("input", drawCanvas, false);
      fontSizeRange.addEventListener("input", drawCanvas, false);
      fontFamilySelect.addEventListener("input", drawCanvas, false);
    </script>
  </body>
</html>
