<!DOCTYPE html>
<html
    lang="en"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:th="http://www.thymeleaf.org"
    xmlns="http://www.thymeleaf.org"
    layout:decorate="~{/layout/layout.html}"
>
    <head>
        <title>Generator</title>
    </head>

    <body>
        <div layout:fragment="contents" class="genCustomWarp">
            <div class="genCHeader off">
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev/svgjs" viewBox="0 0 325 100">
                    <defs>
                        <linearGradient x1="50%" y1="0%" x2="50%" y2="100%" id="ssspill-grad">
                            <stop stop-color="hsl(0, 0%, 100%)" stop-opacity="1" offset="45%"></stop>
                            <stop stop-color="rgb(255, 89, 0)" stop-opacity="1" offset="100%"></stop>
                        </linearGradient>
                    </defs>
                    <rect width="100%" height="100%" fill="rgb(255, 89, 0)"></rect>
                    <g fill="url(#ssspill-grad)">
                        <rect width="100%" height="40" fill="hsl(0, 0%, 100%)"></rect>

                        <rect x="0" width="6.66%" height="96.55006196309512" rx="12"></rect>
                        <rect x="13.33%" width="6.66%" height="75.83461611470717" rx="12"></rect>
                        <rect x="26.67%" width="6.66%" height="74.86105021881366" rx="12"></rect>
                        <rect x="40%" width="6.66%" height="66.30941528525163" rx="12"></rect>
                        <rect x="53.33%" width="6.66%" height="88.79327991169853" rx="12"></rect>
                        <rect x="66.67%" width="6.66%" height="87.73888944762831" rx="12"></rect>
                        <rect x="80%" width="6.66%" height="64.41126770242268" rx="12"></rect>
                        <rect x="93.33%" width="6.66%" height="60.40205620594592" rx="12"></rect>
                    </g>
                    <g fill="rgb(255, 89, 0)">
                        <rect x="6.66%" y="9.221430091538114" width="6.66%" height="60" rx="12"></rect>
                        <rect x="20%" y="15.21860314383344" width="6.66%" height="60" rx="12"></rect>
                        <rect x="33.33%" y="13.434774037933838" width="6.66%" height="60" rx="12"></rect>
                        <rect x="46.67%" y="5.641318974050603" width="6.66%" height="60" rx="12"></rect>
                        <rect x="60%" y="2.256389311177481" width="6.66%" height="60" rx="12"></rect>
                        <rect x="73.33%" y="17.89668740745832" width="6.66%" height="60" rx="12"></rect>
                        <rect x="86.67%" y="9.52548125708741" width="6.66%" height="60" rx="12"></rect>
                    </g>
                </svg>
            </div>
            <div class="container genWrap genCWrap">
                <div class="consWrap">
                    <h1>Generator</h1>

                    <div class="input-group mb-3">
                        <label class="input-group-text btn-secondary" for="fileInput">Customize</label>
                        <input type="file" class="btn btn-secondary" id="fileInput" />
                        <input class="upload-name" value="Location" placeholder="Location" readonly />
                    </div>

                    <div class="topWrap">
                        <div class="canvasBtnWarp">
                            <div>
                                <button type="button" class="btn btn-secondary" id="textReset">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"></path>
                                        <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"></path>
                                    </svg>
                                    reset
                                </button>
                            </div>
                            <div class="filterButtons">
                                <div class="OnOffwrapper">
                                    <h6>Grayscale</h6>
                                    <input type="checkbox" id="grayscale" />
                                    <label for="grayscale" class="switch_label">
                                        <span class="onf_btn"></span>
                                    </label>
                                </div>
                                <div class="OnOffwrapper">
                                    <h6>Invert</h6>
                                    <input type="checkbox" id="invert" />
                                    <label for="invert" class="switch_label">
                                        <span class="onf_btn"></span>
                                    </label>
                                </div>
                                <div class="OnOffwrapper">
                                    <h6>Sepia</h6>
                                    <input type="checkbox" id="sepia" />
                                    <label for="sepia" class="switch_label">
                                        <span class="onf_btn"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="canvasWrap">
                            <canvas id="canvas" width="500" height="500"></canvas>
                        </div>
                        <div class="rightBtnWrap">
                            <div class="download mt-2 mb-2">
                                <div class="download_title">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-down-circle-fill" viewBox="0 0 16 16">
                                        <path
                                            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"
                                        />
                                    </svg>
                                    <h2>Download</h2>
                                </div>
                                <div class="btnDown">
                                    <a class="btn btn-primary" id="downloadLinkPNG" download="meme.png" href="#" style="display: none">.PNG</a>
                                    <a class="btn btn-primary" id="downloadLinkJPG" download="meme.jpg" href="#" style="display: none">.JPG</a>
                                    <button class="btn btn-primary hidden" id="upload" href="#">upload</button>
                                </div>
                            </div>
                            <div class="share mt-2 mb-2">
                                <div class="share_title">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-share-fill" viewBox="0 0 16 16">
                                        <path
                                            d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z"
                                        ></path>
                                    </svg>
                                    <h2>Share</h2>
                                </div>

                                <div class="kakaoBtn">
                                    <a id="kakaotalk-sharing-btn" href="javascript:shareMessage()">
                                        <img
                                            src="https://developers.kakao.com/assets/img/about/logos/kakaotalksharing/kakaotalk_sharing_btn_medium.png"
                                            alt="카카오톡 공유 보내기 버튼"
                                        />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="bottomWrap">
                        <div class="addDelBtn">
                            <div id="delGenCon" class="addGenCon off">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-dash-circle-fill" viewBox="0 0 16 16">
                                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h7a.5.5 0 0 0 0-1h-7z" />
                                </svg>
                            </div>
                            <div class="addBarBox barBox1"></div>
                            <div class="addBarBox barBox2"></div>
                            <div class="addBarBox barBox3"></div>
                            <div class="addBarBox barBox4"></div>
                            <div id="addGenCon" class="addGenCon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
                                </svg>
                            </div>
                        </div>
                        <div class="genCon">
                            <div class="anchorColor anchor1"></div>
                            <div class="ranges">
                                <label for="topRange">Top Position : </label>
                                <input type="range" id="topRange" min="0" max="500" step="1" value="30" class="slider" />
                                <label for="leftRange">Left Position : </label>
                                <input type="range" id="leftRange" min="0" max="500" step="1" value="30" class="slider" />
                                <label for="rotateRange">Rotate Position : </label>
                                <input type="range" id="rotateRange" min="-180" max="180" step="30" value="0" list="values1" class="slider rotateRange" />
                                <datalist id="values1">
                                    <option value="-180" label="-180">-180deg</option>
                                    <option value="-90" label="-90">-90deg</option>
                                    <option value="0" label="0">0deg</option>
                                    <option value="90" label="90">90deg</option>
                                    <option value="180" label="180">180deg</option>
                                </datalist>
                            </div>
                            <div class="txtBoxDiv">
                                <label for="txtBox">Text : </label>
                                <textarea id="txtBox" cols="30" rows="2"></textarea>
                                <div class="colorisFull">
                                    <label for="fontColor">Font Color : </label>
                                    <input type="text" id="fontColor" value="#ffffff" data-coloris />
                                </div>
                            </div>
                            <div class="txtCon">
                                <label for="fontSizeRange">Font Size : </label>
                                <input type="range" id="fontSizeRange" min="14" max="94" step="1" value="36" class="slider" />
                                <label for="fontWeight">Font Weight : </label>
                                <select id="fontWeight">
                                    <option value="bold">Bold</option>
                                    <option value="italic">Italic</option>
                                </select>
                                <label for="fontFamilySelect">Font Family : </label>
                                <select id="fontFamilySelect">
                                    <option value="sans-serif">Sans-serif</option>
                                    <option value="serif">Serif</option>
                                    <option value="monospace">Monospace</option>
                                    <option value="cursive">Cursive</option>
                                    <option value="fantasy">Fantasy</option>
                                    <option value="SCD">에스코어 Dream</option>
                                    <option value="Sohne">Söhne(eng)</option>
                                </select>
                            </div>
                        </div>
                        <div class="genCon" id="genCon2">
                            <div class="anchorColor anchor2"></div>
                            <div class="ranges">
                                <label for="topRange2">Top Position : </label>
                                <input type="range" id="topRange2" min="0" max="500" step="1" value="50" class="slider" />
                                <div>
                                    <label for="leftRange2">Left Position : </label>
                                    <input type="range" id="leftRange2" min="0" max="500" step="1" value="50" class="slider" />
                                </div>
                                <label for="rotateRange2">Rotate Position : </label>
                                <input type="range" id="rotateRange2" min="-180" max="180" step="30" value="0" list="values2" class="slider rotateRange" />
                                <datalist id="values2">
                                    <option value="-180" label="-180">-180deg</option>
                                    <option value="-90" label="-90">-90deg</option>
                                    <option value="0" label="0">0deg</option>
                                    <option value="90" label="90">90deg</option>
                                    <option value="180" label="180">180deg</option>
                                </datalist>
                            </div>
                            <div class="txtBoxDiv">
                                <label for="txtBox2">Text2 : </label>
                                <textarea id="txtBox2" cols="30" rows="2"></textarea>
                                <div class="colorisFull">
                                    <label for="fontColor2">Font Color : </label>
                                    <input type="text" id="fontColor2" value="#ffffff" data-coloris />
                                </div>
                            </div>
                            <div class="txtCon">
                                <label for="fontSizeRange2">Font Size : </label>
                                <input type="range" id="fontSizeRange2" min="14" max="94" step="1" value="36" class="slider" />
                                <label for="fontWeight2">Font Weight : </label>
                                <select id="fontWeight2">
                                    <option value="bold">Bold</option>
                                    <option value="italic">Italic</option>
                                </select>
                                <label for="fontFamilySelect2">Font Family : </label>
                                <select id="fontFamilySelect2">
                                    <option value="sans-serif">Sans-serif</option>
                                    <option value="serif">Serif</option>
                                    <option value="monospace">Monospace</option>
                                    <option value="cursive">Cursive</option>
                                    <option value="fantasy">Fantasy</option>
                                    <option value="SCD">에스코어 Dream</option>
                                    <option value="Sohne">Söhne(eng)</option>
                                </select>
                            </div>
                        </div>
                        <div class="genCon" id="genCon3">
                            <div class="anchorColor anchor3"></div>
                            <div class="ranges">
                                <label for="topRange3">Top Position : </label>
                                <input type="range" id="topRange3" min="0" max="500" step="1" value="70" class="slider" />
                                <label for="leftRange3">Left Position : </label>
                                <input type="range" id="leftRange3" min="0" max="500" step="1" value="70" class="slider" />
                                <label for="rotateRange3">Rotate Position : </label>
                                <input type="range" id="rotateRange3" min="-180" max="180" step="30" value="0" list="values3" class="slider rotateRange" />
                                <datalist id="values3">
                                    <option value="-180" label="-180">-180deg</option>
                                    <option value="-90" label="-90">-90deg</option>
                                    <option value="0" label="0">0deg</option>
                                    <option value="90" label="90">90deg</option>
                                    <option value="180" label="180">180deg</option>
                                </datalist>
                            </div>
                            <div class="txtBoxDiv">
                                <label for="txtBox3">Text3 : </label>
                                <textarea id="txtBox3" cols="30" rows="2"></textarea>
                                <div class="colorisFull">
                                    <label for="fontColor3">Font Color : </label>
                                    <input type="text" id="fontColor3" value="#ffffff" data-coloris />
                                </div>
                            </div>
                            <div class="txtCon">
                                <label for="fontSizeRange3">Font Size : </label>
                                <input type="range" id="fontSizeRange3" min="14" max="94" step="1" value="36" class="slider" />
                                <label for="fontWeight3">Font Weight : </label>
                                <select id="fontWeight3">
                                    <option value="bold">Bold</option>
                                    <option value="italic">Italic</option>
                                </select>
                                <label for="fontFamilySelect3">Font Family : </label>
                                <select id="fontFamilySelect3">
                                    <option value="sans-serif">Sans-serif</option>
                                    <option value="serif">Serif</option>
                                    <option value="monospace">Monospace</option>
                                    <option value="cursive">Cursive</option>
                                    <option value="fantasy">Fantasy</option>
                                    <option value="SCD">에스코어 Dream</option>
                                    <option value="Sohne">Söhne(eng)</option>
                                </select>
                            </div>
                        </div>
                        <div class="genCon" id="genCon4">
                            <div class="anchorColor anchor4"></div>
                            <div class="ranges">
                                <label for="topRange4">Top Position : </label>
                                <input type="range" id="topRange4" min="0" max="500" step="1" value="90" class="slider" />
                                <label for="leftRange4">Left Position : </label>
                                <input type="range" id="leftRange4" min="0" max="500" step="1" value="90" class="slider" />
                                <label for="rotateRange4">Rotate Position : </label>
                                <input type="range" id="rotateRange4" min="-180" max="180" step="30" value="0" list="values4" class="slider rotateRange" />
                                <datalist id="values4">
                                    <option value="-180" label="-180">-180deg</option>
                                    <option value="-90" label="-90">-90deg</option>
                                    <option value="0" label="0">0deg</option>
                                    <option value="90" label="90">90deg</option>
                                    <option value="180" label="180">180deg</option>
                                </datalist>
                            </div>
                            <div class="txtBoxDiv">
                                <label for="txtBox4">Text4 : </label>
                                <textarea id="txtBox4" cols="30" rows="2"></textarea>
                                <div class="colorisFull">
                                    <label for="fontColor4">Font Color : </label>
                                    <input type="text" id="fontColor4" value="#ffffff" data-coloris />
                                </div>
                            </div>
                            <div class="txtCon">
                                <label for="fontSizeRange4">Font Size : </label>
                                <input type="range" id="fontSizeRange4" min="14" max="94" step="1" value="36" class="slider" />
                                <label for="fontWeight4">Font Weight : </label>
                                <select id="fontWeight4">
                                    <option value="bold">Bold</option>
                                    <option value="italic">Italic</option>
                                </select>
                                <label for="fontFamilySelect4">Font Family : </label>
                                <select id="fontFamilySelect4">
                                    <option value="sans-serif">Sans-serif</option>
                                    <option value="serif">Serif</option>
                                    <option value="monospace">Monospace</option>
                                    <option value="cursive">Cursive</option>
                                    <option value="fantasy">Fantasy</option>
                                    <option value="SCD">에스코어 Dream</option>
                                    <option value="Sohne">Söhne(eng)</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <script>
                    const canvas = document.querySelector("#canvas");
                    const ctx = canvas.getContext("2d");
                    const fileInput = document.querySelector("#fileInput");
                    const btnReset = document.querySelector("#textReset");

                    const txtBox = document.querySelector("#txtBox");
                    const topRange = document.querySelector("#topRange");
                    const leftRange = document.querySelector("#leftRange");
                    const rotateRange = document.querySelector("#rotateRange");
                    const fontSizeRange = document.querySelector("#fontSizeRange");
                    const fontWeight = document.querySelector("#fontWeight");
                    const fontFamilySelect = document.querySelector("#fontFamilySelect");
                    const colorPicker = document.querySelector("#fontColor");

                    const txtBox2 = document.querySelector("#txtBox2");
                    const topRange2 = document.querySelector("#topRange2");
                    const leftRange2 = document.querySelector("#leftRange2");
                    const rotateRange2 = document.querySelector("#rotateRange2");
                    const fontSizeRange2 = document.querySelector("#fontSizeRange2");
                    const fontWeight2 = document.querySelector("#fontWeight2");
                    const fontFamilySelect2 = document.querySelector("#fontFamilySelect2");
                    const colorPicker2 = document.querySelector("#fontColor2");

                    const txtBox3 = document.querySelector("#txtBox3");
                    const topRange3 = document.querySelector("#topRange3");
                    const leftRange3 = document.querySelector("#leftRange3");
                    const rotateRange3 = document.querySelector("#rotateRange3");
                    const fontSizeRange3 = document.querySelector("#fontSizeRange3");
                    const fontWeight3 = document.querySelector("#fontWeight3");
                    const fontFamilySelect3 = document.querySelector("#fontFamilySelect3");
                    const colorPicker3 = document.querySelector("#fontColor3");
                    const uploadJPG = document.querySelector("#upload");

                    const txtBox4 = document.querySelector("#txtBox4");
                    const topRange4 = document.querySelector("#topRange4");
                    const leftRange4 = document.querySelector("#leftRange4");
                    const rotateRange4 = document.querySelector("#rotateRange4");
                    const fontSizeRange4 = document.querySelector("#fontSizeRange4");
                    const fontWeight4 = document.querySelector("#fontWeight4");
                    const fontFamilySelect4 = document.querySelector("#fontFamilySelect4");
                    const colorPicker4 = document.querySelector("#fontColor4");

                    const genCon2 = document.getElementById("genCon2");
                    const genCon3 = document.getElementById("genCon3");
                    const genCon4 = document.getElementById("genCon4");
                    const addBtn = document.getElementById("addGenCon");
                    const delBtn = document.getElementById("delGenCon");

                    let isDelON2 = true;
                    let isDelON3 = true;
                    let isDelON4 = true;

                    const downloadLinkPNG = document.querySelector("#downloadLinkPNG");
                    const downloadLinkJPG = document.querySelector("#downloadLinkJPG");

                    const filterInvert = document.querySelector("#invert");
                    const filterGrayscale = document.querySelector("#grayscale");
                    const filterSepia = document.querySelector("#sepia");

                    let img = null;
                    let fontColorPicked = "#ffffff";
                    let fontColorPicked2 = "#ffffff";
                    let fontColorPicked3 = "#ffffff";
                    let fontColorPicked4 = "#ffffff";

                    let isDraggingBox1 = false;
                    let isDraggingBox2 = false;
                    let isDraggingBox3 = false;
                    let isDraggingBox4 = false;

                    let dragStart = { x: 0, y: 0 };

                    const box1Radius = 15;
                    const box2Radius = 15;
                    const box3Radius = 15;
                    const box4Radius = 15;
                    let sharedImageUrl = "";

                    const barBox2 = document.querySelector(".barBox2");
                    const barBox3 = document.querySelector(".barBox3");
                    const barBox4 = document.querySelector(".barBox4");

                    //필터 버튼
                    filterSepia.addEventListener("change", function () {
                        if (filterSepia.checked) {
                            ctx.filter = "sepia(100%)";
                            turnOffOtherFilters(filterSepia, [filterGrayscale]); // 다른 필터 버튼들 중 체크된 것이 있다면 꺼줌
                            turnOffOtherFilters(filterSepia, [filterInvert]);
                        } else {
                            ctx.filter = "none";
                        }
                        drawCanvas();
                    });
                    filterInvert.addEventListener("change", function () {
                        if (filterInvert.checked) {
                            ctx.filter = "invert(100%)";
                            turnOffOtherFilters(filterInvert, [filterGrayscale]);
                            turnOffOtherFilters(filterInvert, [filterSepia]);
                        } else {
                            ctx.filter = "none";
                        }
                        drawCanvas();
                    });

                    filterGrayscale.addEventListener("change", function () {
                        if (filterGrayscale.checked) {
                            ctx.filter = "grayscale(100%)";
                            turnOffOtherFilters(filterGrayscale, [filterInvert]);
                            turnOffOtherFilters(filterGrayscale, [filterSepia]);
                        } else {
                            ctx.filter = "none";
                        }
                        drawCanvas();
                    });
                    function turnOffOtherFilters(checkedButton, filterButtons) {
                        filterButtons.forEach(function (button) {
                            if (button !== checkedButton) {
                                button.checked = false;
                            }
                        });
                    }

                    function uploadImg() {
                        commentsModal.show();
                        $("#commentsModal .modal-title").text("이미지 업로드");
                        $("#commentsModal .modal-body").text("이미지를 업로드 하시겠습니까?");

                        $("#commentsModal .memo-modal-button-yes").on("click", function () {
                            drawCanvas(false);
                            var imgDataUrl = canvas.toDataURL("image/png");
                            var blobBin = atob(imgDataUrl.split(",")[1]); // base64 데이터 디코딩
                            var array = [];
                            for (var i = 0; i < blobBin.length; i++) {
                                array.push(blobBin.charCodeAt(i));
                            }
                            console.log(src);
                            var file = new Blob([new Uint8Array(array)], { type: "image/png" }); // Blob 생성
                            var formdata = new FormData(); // formData 생성
                            formdata.append("file", file); // file data 추가
                            try {
                                session.board.nickName != null;
                                formdata.append("userId", JSON.stringify(session.board.userId));
                                console.log("aaa");
                                formdata.append("originalPath", src);
                            } catch {
                                formdata.append("userId", JSON.stringify("guest"));
                                formdata.append("originalPath", src);
                                console.log("bbb");
                            }

                            $.ajax({
                                url: "/saveImage",
                                type: "post",
                                data: formdata,

                                processData: false, // data 파라미터 강제 string 변환 방지!!
                                contentType: false, // application/x-www-form-urlencoded; 방지!!
                                success: function (data) {
                                    memoModal.show();
                                    $("#memoModal .modal-title").text("이미지 업로드");
                                    $("#memoModal .modal-body").text("이미지를 업로드 하였습니다.");
                                    $("#memoModal .memo-modal-button").on("click", function () {
                                        location.href = "/";
                                    });
                                },
                                error: function (xhr, status, error) {
                                    // ajax 요청이 실패하면 실행되는 함수
                                    console.log(error);
                                },
                            });
                        });
                    }

                    // 리셋버튼
                    function resetForm() {
                        txtBox.value = "";
                        txtBox2.value = "";
                        txtBox3.value = "";
                        txtBox4.value = "";

                        topRange.value = 30;
                        topRange2.value = 50;
                        topRange3.value = 70;
                        topRange4.value = 90;

                        leftRange.value = 30;
                        leftRange2.value = 50;
                        leftRange3.value = 70;
                        leftRange4.value = 90;

                        rotateRange.value = 0;
                        rotateRange2.value = 0;
                        rotateRange3.value = 0;
                        rotateRange4.value = 0;

                        colorPicker.value = "#ffffff";
                        colorPicker2.value = "#ffffff";
                        colorPicker3.value = "#ffffff";
                        colorPicker4.value = "#ffffff";

                        fontColorPicked = "#ffffff";
                        fontColorPicked2 = "#ffffff";
                        fontColorPicked3 = "#ffffff";
                        fontColorPicked4 = "#ffffff";

                        filterGrayscale.checked = false;
                        filterInvert.checked = false;
                        filterSepia.checked = false;
                        ctx.filter = "none";
                        drawCanvas();
                    }

                    btnReset.addEventListener("click", resetForm);

                    //삭제 추가
                    addBtn.addEventListener("click", function () {
                        if (isDelON2 === true) {
                            isDelON2 = false;
                            genCon2.classList.add("show");
                            $(barBox2).addClass("on");
                            $(delBtn).removeClass("off");
                            // console.log(isDelON3,isDelON4);
                        } else if (isDelON3 === true) {
                            isDelON3 = false;
                            genCon3.classList.add("show");
                            $(barBox3).addClass("on");
                            // console.log(isDelON3,isDelON4);
                        } else if (isDelON4 === true) {
                            isDelON4 = false;
                            genCon4.classList.add("show");
                            $(barBox4).addClass("on");
                            $(addBtn).addClass("off");
                            // console.log(isDelON3,isDelON4);
                        }
                    });

                    delBtn.addEventListener("click", function () {
                        if (isDelON4 === false) {
                            isDelON4 = true;
                            txtBox4.value = "";
                            genCon4.classList.remove("show");
                            topRange4.value = 90;
                            leftRange4.value = 90;
                            rotateRange4.value = 0;
                            $(barBox4).removeClass("on");
                            $(addBtn).removeClass("off");
                            // console.log(isDelON3,isDelON4);
                        } else if (isDelON3 === false) {
                            isDelON3 = true;
                            txtBox3.value = "";
                            topRange3.value = 70;
                            leftRange3.value = 70;
                            rotateRange3.value = 0;
                            genCon3.classList.remove("show");
                            $(barBox3).removeClass("on");
                            // console.log(isDelON3,isDelON4);
                        } else if (isDelON2 === false) {
                            isDelON2 = true;
                            txtBox2.value = "";
                            topRange2.value = 50;
                            leftRange2.value = 50;
                            rotateRange2.value = 0;
                            genCon2.classList.remove("show");
                            $(barBox2).removeClass("on");
                            $(delBtn).addClass("off");
                            // console.log(isDelON3,isDelON4);
                        }
                    });

                    //******  make Anchor 앵커만들기
                    function onMouseDown(event) {
                        const rect = canvas.getBoundingClientRect();
                        const x = event.clientX - rect.left;
                        const y = event.clientY - rect.top;

                        if (Math.sqrt(Math.pow(x - leftRange.value, 2) + Math.pow(y - topRange.value, 2)) <= box1Radius) {
                            isDraggingBox1 = true;
                            dragStart = { x: x, y: y };
                            $("#canvas").css({
                                cursor: "grabbing",
                            });
                        } else if (Math.sqrt(Math.pow(x - leftRange2.value, 2) + Math.pow(y - topRange2.value, 2)) <= box2Radius) {
                            isDraggingBox2 = true;
                            dragStart = { x: x, y: y };
                            $("#canvas").css({
                                cursor: "grabbing",
                            });
                        } else if (Math.sqrt(Math.pow(x - leftRange3.value, 2) + Math.pow(y - topRange3.value, 2)) <= box3Radius) {
                            isDraggingBox3 = true;
                            dragStart = { x: x, y: y };
                            $("#canvas").css({
                                cursor: "grabbing",
                            });
                        } else if (Math.sqrt(Math.pow(x - leftRange4.value, 2) + Math.pow(y - topRange4.value, 2)) <= box4Radius) {
                            isDraggingBox4 = true;
                            dragStart = { x: x, y: y };
                            $("#canvas").css({
                                cursor: "grabbing",
                            });
                        }
                    }

                    function onMouseMove(event) {
                        const rect = canvas.getBoundingClientRect();
                        const x = event.clientX - rect.left;
                        const y = event.clientY - rect.top;

                        if (isDraggingBox1) {
                            const dx = x - dragStart.x;
                            const dy = y - dragStart.y;
                            leftRange.value = parseInt(leftRange.value) + dx;
                            topRange.value = parseInt(topRange.value) + dy;
                            drawCanvas();
                            dragStart = { x: x, y: y };
                        } else if (isDraggingBox2) {
                            const dx = x - dragStart.x;
                            const dy = y - dragStart.y;
                            leftRange2.value = parseInt(leftRange2.value) + dx;
                            topRange2.value = parseInt(topRange2.value) + dy;
                            drawCanvas();
                            dragStart = { x: x, y: y };
                        } else if (isDraggingBox3) {
                            const dx = x - dragStart.x;
                            const dy = y - dragStart.y;
                            leftRange3.value = parseInt(leftRange3.value) + dx;
                            topRange3.value = parseInt(topRange3.value) + dy;
                            drawCanvas();
                            dragStart = { x: x, y: y };
                        } else if (isDraggingBox4) {
                            const dx = x - dragStart.x;
                            const dy = y - dragStart.y;
                            leftRange4.value = parseInt(leftRange4.value) + dx;
                            topRange4.value = parseInt(topRange4.value) + dy;
                            drawCanvas();
                            dragStart = { x: x, y: y };
                        }
                    }

                    function onMouseUp(event) {
                        isDraggingBox1 = false;
                        isDraggingBox2 = false;
                        isDraggingBox3 = false;
                        isDraggingBox4 = false;
                        $("#canvas").css({
                            cursor: "grab",
                        });
                    }

                    canvas.addEventListener("mousedown", onMouseDown);
                    canvas.addEventListener("mousemove", onMouseMove);
                    canvas.addEventListener("mouseup", onMouseUp);

                    const { src } = JSON.parse(localStorage.getItem("image-info"));
                    console.log(src);

                    // 커스터 마이즈 버튼

                    // $("#fileInput").on("change", function () {
                    //     var fileName = $("#fileInput").val();
                    //     $(".upload-name").val(fileName);
                    // });

                    //generator image 띄우기

                    // img = new Image();
                    // img.src = src;
                    // img.onload = function () {
                    //     let ratio = img.width / img.height;
                    //     if (ratio > 1) {
                    //         canvas.width = 500;
                    //         canvas.height = 500 / ratio;
                    //     } else {
                    //         canvas.width = 500 * ratio;
                    //         canvas.height = 500;
                    //     }
                    //     ctx.drawImage(img, 0, 0, canvas.width, canvas.height);
                    //     downloadLinkPNG.style.display = "block";
                    //     downloadLinkJPG.style.display = "block";
                    //     drawCanvas();
                    // };

                    // 파일 불러올때 비율 맞춰주는 메소드

                    fileInput.addEventListener("change", () => {
                        if (fileInput.files && fileInput.files[0]) {
                            const reader = new FileReader();
                            reader.onload = () => {
                                img = new Image();
                                img.onload = () => {
                                    let ratio = img.width / img.height;
                                    if (ratio > 1) {
                                        canvas.width = 500;
                                        canvas.height = 500 / ratio;
                                    } else {
                                        canvas.width = 500 * ratio;
                                        canvas.height = 500;
                                    }
                                    ctx.drawImage(img, 0, 0, canvas.width, canvas.height);
                                    downloadLinkPNG.style.display = "block";
                                    downloadLinkJPG.style.display = "block";
                                    resetForm();
                                    drawCanvas();
                                };
                                img.src = reader.result;
                            };
                            reader.readAsDataURL(fileInput.files[0]);
                        }
                    });
                    colorPicker.addEventListener("input", () => {
                        fontColorPicked = colorPicker.value;
                    });
                    colorPicker2.addEventListener("input", () => {
                        fontColorPicked2 = colorPicker2.value;
                    });
                    colorPicker3.addEventListener("input", () => {
                        fontColorPicked3 = colorPicker3.value;
                    });
                    colorPicker4.addEventListener("input", () => {
                        fontColorPicked4 = colorPicker4.value;
                    });

                    function drawAnchors() {
                        // Draw circles around txtBox and txtBox2  :: Anchor
                        ctx.strokeStyle = "red";
                        ctx.beginPath();
                        ctx.arc(parseInt(leftRange.value), parseInt(topRange.value), box1Radius, 0, 2 * Math.PI);
                        ctx.stroke();

                        if (isDelON2 === true) {
                            ctx.strokeStyle = "none";
                        } else {
                            ctx.strokeStyle = "blue";
                            ctx.beginPath();
                            ctx.arc(parseInt(leftRange2.value), parseInt(topRange2.value), box2Radius, 0, 2 * Math.PI);
                            ctx.stroke();
                        }

                        if (isDelON3 === true) {
                            ctx.strokeStyle = "none";
                        } else {
                            ctx.strokeStyle = "green";
                            ctx.beginPath();
                            ctx.arc(parseInt(leftRange3.value), parseInt(topRange3.value), box3Radius, 0, 2 * Math.PI);
                            ctx.stroke();
                        }
                        if (isDelON4 === true) {
                            ctx.strokeStyle = "none";
                        } else {
                            ctx.strokeStyle = "yellow";
                            ctx.beginPath();
                            ctx.arc(parseInt(leftRange4.value), parseInt(topRange4.value), box4Radius, 0, 2 * Math.PI);
                            ctx.stroke();
                        }
                    }

                    function drawCanvas(showAnchors = true) {
                        if (img === null) return;
                        ctx.drawImage(img, 0, 0, canvas.width, canvas.height);

                        ctx.fillStyle = fontColorPicked;
                        ctx.font = fontWeight.value + " " + fontSizeRange.value + "px " + fontFamilySelect.value;
                        ctx.font = fontWeight2.value + " " + fontSizeRange2.value + "px " + fontFamilySelect2.value;
                        ctx.font = fontWeight3.value + " " + fontSizeRange3.value + "px " + fontFamilySelect3.value;
                        ctx.font = fontWeight4.value + " " + fontSizeRange4.value + "px " + fontFamilySelect4.value;

                        ctx.textAlign = "start";
                        drawText(
                            ctx,
                            txtBox.value,
                            parseInt(leftRange.value),
                            parseInt(topRange.value),
                            parseInt(rotateRange.value),
                            fontColorPicked,
                            fontWeight.value,
                            fontSizeRange.value,
                            fontFamilySelect.value
                        );

                        drawText(
                            ctx,
                            txtBox2.value,
                            parseInt(leftRange2.value),
                            parseInt(topRange2.value),
                            parseInt(rotateRange2.value),
                            fontColorPicked2,
                            fontWeight2.value,
                            fontSizeRange2.value,
                            fontFamilySelect2.value
                        );
                        drawText(
                            ctx,
                            txtBox3.value,
                            parseInt(leftRange3.value),
                            parseInt(topRange3.value),
                            parseInt(rotateRange3.value),
                            fontColorPicked3,
                            fontWeight3.value,
                            fontSizeRange3.value,
                            fontFamilySelect3.value
                        );
                        drawText(
                            ctx,
                            txtBox4.value,
                            parseInt(leftRange4.value),
                            parseInt(topRange4.value),
                            parseInt(rotateRange4.value),
                            fontColorPicked4,
                            fontWeight4.value,
                            fontSizeRange4.value,
                            fontFamilySelect4.value
                        );
                        if (showAnchors) {
                            drawAnchors();
                        }

                        topRange.max = canvas.height - parseInt(fontSizeRange.value);
                        leftRange.max = canvas.width;
                        topRange2.max = canvas.height - parseInt(fontSizeRange2.value);
                        leftRange2.max = canvas.width;
                        topRange3.max = canvas.height - parseInt(fontSizeRange3.value);
                        leftRange3.max = canvas.width;
                        topRange4.max = canvas.height - parseInt(fontSizeRange4.value);
                        leftRange4.max = canvas.width;
                    }

                    // function downloadImage() {
                    //     drawCanvas(false);
                    //     downloadLinkPNG.href = canvas.toDataURL();
                    //     downloadLinkJPG.href = canvas.toDataURL();
                    //     drawCanvas(true);
                    // }

                    function downloadImage() {
                        drawCanvas(false);
                        const dataUrlPNG = canvas.toDataURL();
                        const dataUrlJPG = canvas.toDataURL("image/jpeg");
                        downloadLinkPNG.href = dataUrlPNG;
                        downloadLinkJPG.href = dataUrlJPG;
                        sharedImageUrl = dataUrlPNG; // Update the sharedImageUrl with the PNG data URL
                        drawCanvas(true);

                        console.log(sharedImageUrl);
                    }
                    function drawText(ctx, text, x, y, rotate, fontColor, fontWeight, fontSize, fontFamily) {
                        let textHeight = parseInt(fontSize);
                        ctx.save();
                        ctx.translate(x, y);
                        ctx.rotate((rotate * Math.PI) / 180);
                        ctx.fillStyle = fontColor;
                        ctx.font = fontWeight + " " + fontSize + "px " + fontFamily;

                        // textarea 엔터 인식하게 하는거
                        const lines = text.split("\n");
                        for (let i = 0; i < lines.length; i++) {
                            ctx.fillText(lines[i], 0, textHeight * (i + 1));
                        }

                        ctx.restore();
                    }
                    txtBox.addEventListener("input", drawCanvas);
                    topRange.addEventListener("input", drawCanvas);
                    leftRange.addEventListener("input", drawCanvas);
                    rotateRange.addEventListener("input", drawCanvas);
                    colorPicker.addEventListener("input", drawCanvas);
                    fontWeight.addEventListener("input", drawCanvas);
                    fontSizeRange.addEventListener("input", drawCanvas);
                    fontFamilySelect.addEventListener("input", drawCanvas);

                    txtBox2.addEventListener("input", drawCanvas);
                    topRange2.addEventListener("input", drawCanvas);
                    leftRange2.addEventListener("input", drawCanvas);
                    rotateRange2.addEventListener("input", drawCanvas);
                    colorPicker2.addEventListener("input", drawCanvas);
                    fontWeight2.addEventListener("input", drawCanvas);
                    fontSizeRange2.addEventListener("input", drawCanvas);
                    fontFamilySelect2.addEventListener("input", drawCanvas);

                    txtBox3.addEventListener("input", drawCanvas);
                    topRange3.addEventListener("input", drawCanvas);
                    leftRange3.addEventListener("input", drawCanvas);
                    rotateRange3.addEventListener("input", drawCanvas);
                    colorPicker3.addEventListener("input", drawCanvas);
                    fontWeight3.addEventListener("input", drawCanvas);
                    fontSizeRange3.addEventListener("input", drawCanvas);
                    fontFamilySelect3.addEventListener("input", drawCanvas);

                    txtBox4.addEventListener("input", drawCanvas);
                    topRange4.addEventListener("input", drawCanvas);
                    leftRange4.addEventListener("input", drawCanvas);
                    rotateRange4.addEventListener("input", drawCanvas);
                    colorPicker4.addEventListener("input", drawCanvas);
                    fontWeight4.addEventListener("input", drawCanvas);
                    fontSizeRange4.addEventListener("input", drawCanvas);
                    fontFamilySelect4.addEventListener("input", drawCanvas);

                    addBtn.addEventListener("click", drawCanvas);
                    delBtn.addEventListener("click", drawCanvas);

                    downloadLinkPNG.addEventListener("click", downloadImage);
                    downloadLinkJPG.addEventListener("click", downloadImage);
                    uploadJPG.addEventListener("click", uploadImg);
                    Coloris({
                        theme: "pill",
                        themeMode: "dark",
                        margin: 2,
                        alpha: true,
                        format: "hex",
                        clearButton: true,
                        clearLabel: "Clear",
                        swatches: ["#000000", "#ffffff", "#cccccc", "#ff0000", "#ffee00", "#22ff00", "#00ffe5", "#0000ff", "#9500ff", "#4ced82", "#f01d7c"],
                        inline: false,
                        defaultColor: "#000000",
                    });
                    //카카오
                    function shareMessage() {
                        Kakao.Share.sendDefault({
                            objectType: "feed",
                            content: {
                                title: "내가 만든 MEME ",
                                description: "#분노 #동물 #귀여운 #슬픔 #블랙유머 #GIF",
                                imageUrl: `"http://127.0.0.1:9091/` + sharedImageUrl + `"`,
                                link: {
                                    // [내 애플리케이션] > [플랫폼] 에서 등록한 사이트 도메인과 일치해야 함
                                    mobileWebUrl: "http://127.0.0.1:9091",
                                    webUrl: "http://127.0.0.1:9091",
                                },
                            },
                            social: {
                                likeCount: 286,
                                commentCount: 45,
                                sharedCount: 845,
                            },
                            buttons: [
                                {
                                    title: "웹으로 보기",
                                    link: {
                                        mobileWebUrl: `"http://127.0.0.1:9091/` + sharedImageUrl + `"`,
                                        webUrl: `"http://127.0.0.1:9091/` + sharedImageUrl + `"`,
                                    },
                                },
                                {
                                    title: "앱으로 보기",
                                    link: {
                                        mobileWebUrl: "http://127.0.0.1:9091",
                                        webUrl: "http://127.0.0.1:9091",
                                    },
                                },
                            ],
                        });
                    }

                    //헤더 애니메이션

                    let timer;

                    $(window).scroll(function () {
                        const y = $(window).scrollTop();

                        if (y > 50) {
                            clearTimeout(timer);
                            gsap.to(".genCHeader", { opacity: 1, y: -1000, duration: 1 });
                        } else if (y <= 50) {
                            clearTimeout(timer);

                            timer = setTimeout(function () {
                                gsap.to(".genCHeader", { opacity: 0, y: -1000, duration: 1 }),
                                    gsap.to(".genCHeader", {
                                        opacity: 1,
                                        y: 0,
                                        duration: 2,
                                        delay: 0.5,
                                    });
                            }, 500);
                        }
                    });

                    // Trigger the scroll event to execute the code when the page loads
                    $(window).trigger("scroll");
                </script>
            </div>
        </div>
    </body>
</html>
