@import "font";

body {
    font-family: "Sohne", "SCD", sans-serif;
    font-weight: 300;
    background-color: black;
    color: rgb(81, 218, 76);

    .myHeader {
        border-bottom: none;
        transition: all 0.25s ease;

        &.on {
            background-color: white;
            color: black;
        }
    }
    h1 {
        font-weight: 700;
        font-size: 75px;
    }
    main {
        position: relative;
        padding-top: 75px;
    }

    //gen 부분 css
    #canvas {
        cursor: grab;
    }
    #invert {
        display: none;
    }
    #grayscale {
        display: none;
    }
    #sepia {
        display: none;
    }
    .input-group-text {
        cursor: pointer;
    }
    .upload-name {
        border-radius: 5px;
    }
    .input-group input[type="file"] {
        position: absolute;
        width: 0;
        height: 0;
        padding: 0;
        overflow: hidden;
        border: 0;
    }
    .topWrap {
        display: flex;
        justify-content: flex-end;
        padding: 30px 20px;

        .OnOffwrapper {
            position: relative;
        }
        .invert {
            position: absolute;
            /* hidden */
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
        }
        .switch_label {
            position: relative;
            cursor: pointer;
            display: inline-block;
            width: 58px;
            height: 28px;
            background: #fff;
            border: 2px solid rgb(255, 255, 255);
            border-radius: 20px;
            transition: 0.2s;
        }
        .switch_label:hover {
            background: #d65858;
        }
        .onf_btn {
            position: absolute;
            top: 5px;
            left: 5px;
            display: inline-block;
            width: 19px;
            height: 19px;
            border-radius: 20px;
            background: rgb(151, 151, 151);
            transition: 0.2s;
        }
        #invert:checked + .switch_label {
            background: rgb(81, 218, 76);
            border: 2px solid rgb(81, 218, 76);
        }

        #invert:checked + .switch_label:hover {
            background: rgb(134, 255, 101);
        }

        /* move */
        #invert:checked + .switch_label .onf_btn {
            left: 33px;
            background: #fff;
            box-shadow: 1px 2px 3px #00000020;
        }
        #grayscale:checked + .switch_label {
            background: rgb(81, 218, 76);
            border: 2px solid rgb(81, 218, 76);
        }

        #grayscale:checked + .switch_label:hover {
            background: rgb(134, 255, 101);
        }

        /* move */
        #grayscale:checked + .switch_label .onf_btn {
            left: 33px;
            background: #fff;
            box-shadow: 1px 2px 3px #00000020;
        }
        #sepia:checked + .switch_label {
            background: rgb(81, 218, 76);
            border: 2px solid rgb(81, 218, 76);
        }

        #sepia:checked + .switch_label:hover {
            background: rgb(134, 255, 101);
        }

        /* move */
        #sepia:checked + .switch_label .onf_btn {
            left: 33px;
            background: #fff;
            box-shadow: 1px 2px 3px #00000020;
        }

        .canvasWrap {
            border: 1px solid white;
            transition: all 0.25s ease;
        }
    }

    #genCon2 {
        display: none;
    }

    #genCon3 {
        display: none;
    }

    #genCon4 {
        display: none;
    }
    .bottonWrap {
        text-align: center;
        padding: 0 100px;
        .genCon {
            display: block;
            width: 1000px;
            height: 150px;
            border: 1px solid white;
            margin: 0 auto;

            margin-bottom: 10px;
            .anchorColor {
                width: 20px;
                height: 20px;
                position: relative;
                border-radius: 6px;
                // margin-top: 4px;
            }
            .anchor1 {
                background-color: red;
            }
            .anchor2 {
                background-color: blue;
            }
            .anchor3 {
                background-color: green;
            }
            .anchor4 {
                background-color: yellow;
            }
            .txtBoxDiv {
                display: flex;
                padding: 0 100px;
                margin-bottom: 5px;
                justify-content: start;
                align-items: center;
                padding-bottom: 10px;
                textarea {
                    resize: none;
                }
                .colorisFull {
                    .clr-field {
                        width: 50px;
                        height: 30px;
                        border-radius: 5px;
                        border-radius: 1px solid black;
                        input {
                            opacity: 0;
                            width: 50px;
                            height: 30px;
                            border-radius: 5px;
                            border-radius: 1px solid black;
                        }
                        button {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }

        .ranges {
            display: flex;
            padding: 0 100px;

            justify-content: start;
            align-items: center;
            padding-bottom: 10px;
        }
        .txtCon {
            display: flex;
            padding: 0 100px;
            justify-content: start;
            align-items: center;
            padding-bottom: 10px;
        }
    }
    .download {
        margin: 0 10px;
        display: inline;

        .download_title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            h2 {
                margin-left: 10px;
            }
        }

        .btnDown {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100px;
            height: 50px;
            a {
                margin: 10px 5px;
            }
        }
    }
    .share {
        margin-top: 8px;
        margin: 0 10px;
        display: inline;
        .shareTitle {
            display: flex;
            align-items: center;
            justify-content: space-between;
            h2 {
                margin-left: 10px;
            }
        }
        .kakaoBtn {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100px;
            height: 38px;

            a {
                width: 100px;
                height: 26px;
                margin: 10px 5px;
                img {
                    width: 39px;
                    height: 39px;
                }
            }
        }
    }
}
// 모달
.modal.fade#imgModal {
    color: black;
    .modal-dialog {
        .modal-content {
            .modal-body {
                .container-fluid {
                    .row {
                        #modal-image {
                            img {
                                width: 700px;
                                object-fit: contain;
                                border-radius: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}

//index 부분

.swiper {
    width: 100%;
    height: 400px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    // .swiper-pagination-bullet {
    //   width: 20px;
    //   height: 20px;
    //   text-align: center;
    //   line-height: 20px;
    //   font-size: 12px;
    //   color: #000;
    //   opacity: 1;
    //   background: rgba(0, 0, 0, 0.2);
    // }

    // .swiper-pagination-bullet-active {
    //   color: #fff;
    //   background: #007aff;
    // }
    .swiper-slide {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;

        &:hover {
            position: relative;
            z-index: 9;

            a {
                z-index: 9;
                img {
                    width: 350px;
                    height: 350px;
                    &:hover {
                        animation: keep-size 0.5s forwards;
                        animation-delay: 1.5s;
                        animation-timing-function: ease;
                    }
                }
            }
        }
        @keyframes keep-size {
            from {
                width: 350px;
                height: 350px;
                opacity: 0%;
            }
            to {
                width: 700px;
                height: 350px;
                object-fit: contain;
                opacity: 100%;
            }
        }
        a {
            img {
                position: relative;
                width: 300px;
                border-radius: 10px;
                height: 300px;
                object-fit: cover;
                transition: width 0.25s ease, height 0.25s ease;
            }
        }
    }
}
